In [549]:
import pandas as pd
import numpy as np

In [550]:
df1=pd.read_csv('train.csv')
df2=pd.read_csv('test.csv')
df1.shape, df2.shape  # ((2500, 30), (540, 29))

((2500, 30), (540, 29))

In [551]:
y=df1['power']
df1=df1.drop('power',axis=1)

In [552]:
#1. 데이터 통합하기
data=pd.concat([df1, df2], axis=0)
data.info() # 결측치 없음....

<class 'pandas.core.frame.DataFrame'>
Index: 3040 entries, 0 to 539
Data columns (total 29 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        3040 non-null   int64
 1   memberNo                  3040 non-null   object
 2   jobType                   3040 non-null   object
 3   houseType                 3040 non-null   object
 4   houseArea                 3040 non-null   object
 5   location                  3040 non-null   object
 6   covidEffect               3040 non-null   object
 7   covidPeriod               3040 non-null   int64
 8   electricalAppliances      3040 non-null   object
 9   computerUsageTime         3040 non-null   object
 10  tvUsageTime               3040 non-null   object
 11  airconWithHeatUsageTime   3040 non-null   object
 12  airconUsageTime           3040 non-null   object
 13  heaterUsageTime           3040 non-null   object
 14  elecStoveUsageTime        3040 non-null   object
 15  elecBlanketUsageTime      3040 non-null   object
 16  airFryerUsageTimePerWeek  3040 non-null   float64
 17  month1                    3040 non-null   object
 18  month2                    3040 non-null   object
 19  month3                    3040 non-null   object
 20  month4                    3040 non-null   object
 21  month5                    3040 non-null   object
 22  month6                    3040 non-null   object
 23  month7                    3040 non-null   object
 24  month8                    3040 non-null   object
 25  month9                    3040 non-null   object
 26  month10                   3040 non-null   object
 27  month11                   3040 non-null   object
 28  month12                   3040 non-null   object
dtypes: float64(1), int64(2), object(26)
memory usage: 712.5+ KB

In [553]:
data.columns

Index(['id', 'memberNo', 'jobType', 'houseType', 'houseArea', 'location',
       'covidEffect', 'covidPeriod', 'electricalAppliances',
       'computerUsageTime', 'tvUsageTime', 'airconWithHeatUsageTime',
       'airconUsageTime', 'heaterUsageTime', 'elecStoveUsageTime',
       'elecBlanketUsageTime', 'airFryerUsageTimePerWeek', 'month1', 'month2',
       'month3', 'month4', 'month5', 'month6', 'month7', 'month8', 'month9',
       'month10', 'month11', 'month12'],
      dtype='object')

In [554]:
data

,id,memberNo,jobType,houseType,houseArea,location,covidEffect,covidPeriod,electricalAppliances,computerUsageTime,...,month3,month4,month5,month6,month7,month8,month9,month10,month11,month12
0,1512160175,1인가구,외벌이,아파트,80m²(24평) 이하,여수시,아니오,0,"1, 2, 3, 4, 5, 6, 7, 12, 13, 16, 17, 18, 19, 2...","1, 1",...,5,5,5,1,1,1,"3, 4, 5","3, 4, 5","3, 5","3, 5, 19"
1,1412130572,1인가구,외벌이,아파트,80m²(24평) 이하,순천시,아니오,0,"1, 2, 3, 6, 7, 8, 9, 10, 13, 17, 18, 20, 25, 28","1, 0",...,"1, 3","1, 3",0,0,0,0,3,3,3,3
2,1412140632,2~3인 가구,외벌이,아파트,116m²(35평) 이하,순천시,아니오,0,"1, 2, 3, 5, 6, 7, 8, 10, 11, 12, 13, 16, 17, 1...","4, 7",...,19,19,19,1,1,1,19,19,5,"5, 19"
3,1210230279,2~3인 가구,맞벌이,아파트,116m²(35평) 이하,나주시,아니오,0,"1, 2, 7, 8, 10, 12, 13, 15, 16, 17, 18, 20, 25...","0, 0",...,0,0,1,1,1,1,0,0,0,0
4,1412130542,4인 이상,맞벌이,아파트,80m²(24평) 이하,순천시,아니오,0,"2, 6, 7, 10, 13, 16, 17, 18, 19, 20, 21, 27, 2...","2, 4",...,19,19,19,0,0,0,19,19,19,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
535,2598385003,2~3인 가구,맞벌이,단독주택,80m²(24평) 이하,여수시,아니오,0,"1,2,7,10,13,16,17,18,20,25,27","0,0",...,0,0,0,1,1,0,0,0,0,0
536,2598395022,2~3인 가구,외벌이,단독주택,80m²(24평) 이하,여수시,아니오,0,"2,7,10,13,16,17,18,20,27","0,0",...,0,0,0,0,0,0,0,0,0,0
537,2598430260,2~3인 가구,맞벌이,단독주택,80m²(24평) 이하,여수시,아니오,0,"2,5,7,10,13,16,20","0,0",...,0,0,0,0,0,0,0,0,0,5
538,2598430301,2~3인 가구,맞벌이,단독주택,80m²(24평) 이하,여수시,아니오,0,"1,2,7,8,10,13,18,20,21,27,28","0,0",...,0,0,0,1,1,0,0,0,0,0
539,2598435083,2~3인 가구,맞벌이,단독주택,80m²(24평) 이하,여수시,아니오,0,"1,2,7,10,13,16,17,18,20,27","0,0",...,0,0,0,1,1,0,0,0,0,0

In [555]:
data.columns

Index(['id', 'memberNo', 'jobType', 'houseType', 'houseArea', 'location',
       'covidEffect', 'covidPeriod', 'electricalAppliances',
       'computerUsageTime', 'tvUsageTime', 'airconWithHeatUsageTime',
       'airconUsageTime', 'heaterUsageTime', 'elecStoveUsageTime',
       'elecBlanketUsageTime', 'airFryerUsageTimePerWeek', 'month1', 'month2',
       'month3', 'month4', 'month5', 'month6', 'month7', 'month8', 'month9',
       'month10', 'month11', 'month12'],
      dtype='object')

In [556]:
data[['computerUsageTime', 'tvUsageTime', 'airconWithHeatUsageTime',
       'airconUsageTime', 'heaterUsageTime', 'elecStoveUsageTime',
       'elecBlanketUsageTime', 'airFryerUsageTimePerWeek']]

,computerUsageTime,tvUsageTime,airconWithHeatUsageTime,airconUsageTime,heaterUsageTime,elecStoveUsageTime,elecBlanketUsageTime,airFryerUsageTimePerWeek
0,"1, 1","3, 5","0, 0, 0, 0","2, 4","3, 5","1, 1","5, 5",2.0
1,"1, 0","3, 4","0, 0, 0, 0","3, 3","10, 10","0, 0","0, 0",0.0
2,"4, 7","3, 6","0, 0, 0, 0","5, 7","0, 0","0, 0","6, 8",4.0
3,"0, 0","4, 12","0, 0, 0, 0","7, 4","0, 0","0, 0","0, 0",0.0
4,"2, 4","3, 6","0, 0, 0, 0","0, 0","0, 0","0, 0","0, 0",1.0
...,...,...,...,...,...,...,...,...
535,"0,0","2,3","0,0,0,0","2,2","0,0","0,0","0,0",0.0
536,"0,0","3,3","0,0,0,0","0,0","0,0","0,0","0,0",0.0
537,"0,0","2,2","0,0,0,0","0,0","0,0","0,0","0,0",0.0
538,"0,0","2,2","0,0,0,0","1,2","0,0","0,0","0,0",0.0
539,"0,0","2,3","0,0,0,0","1,2","0,0","0,0","0,0",0.0

In [557]:
def process_row(row):
    numbers = list(map(float, row.split(',')))
    return numbers[0] * 5 + numbers[1] * 2

data['new_computerUsageTime'] = data['computerUsageTime'].apply(process_row)
data['new_tvUsageTime'] = data['tvUsageTime'].apply(process_row)
data['new_airconWithHeatUsageTime'] = data['airconWithHeatUsageTime'].apply(process_row)
data['new_airconUsageTime'] = data['airconUsageTime'].apply(process_row)
data['new_heaterUsageTime'] = data['heaterUsageTime'].apply(process_row)
data['new_elecStoveUsageTime'] = data['elecStoveUsageTime'].apply(process_row)
data['new_elecBlanketUsageTime'] = data['elecBlanketUsageTime'].apply(process_row)

In [558]:
def calculate_new_values(row):
    numbers = [int(x) for x in row.split(',')]
    return numbers[0] * 5 + numbers[1] * 2

In [559]:
# 새로운 열을 계산하여 추가
data['new_airconWithHeatUsageTime'] = data['airconWithHeatUsageTime'].apply(calculate_new_values)

In [560]:
data

,id,memberNo,jobType,houseType,houseArea,location,covidEffect,covidPeriod,electricalAppliances,computerUsageTime,...,month10,month11,month12,new_computerUsageTime,new_tvUsageTime,new_airconWithHeatUsageTime,new_airconUsageTime,new_heaterUsageTime,new_elecStoveUsageTime,new_elecBlanketUsageTime
0,1512160175,1인가구,외벌이,아파트,80m²(24평) 이하,여수시,아니오,0,"1, 2, 3, 4, 5, 6, 7, 12, 13, 16, 17, 18, 19, 2...","1, 1",...,"3, 4, 5","3, 5","3, 5, 19",7.0,25.0,0,18.0,25.0,7.0,35.0
1,1412130572,1인가구,외벌이,아파트,80m²(24평) 이하,순천시,아니오,0,"1, 2, 3, 6, 7, 8, 9, 10, 13, 17, 18, 20, 25, 28","1, 0",...,3,3,3,5.0,23.0,0,21.0,70.0,0.0,0.0
2,1412140632,2~3인 가구,외벌이,아파트,116m²(35평) 이하,순천시,아니오,0,"1, 2, 3, 5, 6, 7, 8, 10, 11, 12, 13, 16, 17, 1...","4, 7",...,19,5,"5, 19",34.0,27.0,0,39.0,0.0,0.0,46.0
3,1210230279,2~3인 가구,맞벌이,아파트,116m²(35평) 이하,나주시,아니오,0,"1, 2, 7, 8, 10, 12, 13, 15, 16, 17, 18, 20, 25...","0, 0",...,0,0,0,0.0,44.0,0,43.0,0.0,0.0,0.0
4,1412130542,4인 이상,맞벌이,아파트,80m²(24평) 이하,순천시,아니오,0,"2, 6, 7, 10, 13, 16, 17, 18, 19, 20, 21, 27, 2...","2, 4",...,19,19,19,18.0,27.0,0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
535,2598385003,2~3인 가구,맞벌이,단독주택,80m²(24평) 이하,여수시,아니오,0,"1,2,7,10,13,16,17,18,20,25,27","0,0",...,0,0,0,0.0,16.0,0,14.0,0.0,0.0,0.0
536,2598395022,2~3인 가구,외벌이,단독주택,80m²(24평) 이하,여수시,아니오,0,"2,7,10,13,16,17,18,20,27","0,0",...,0,0,0,0.0,21.0,0,0.0,0.0,0.0,0.0
537,2598430260,2~3인 가구,맞벌이,단독주택,80m²(24평) 이하,여수시,아니오,0,"2,5,7,10,13,16,20","0,0",...,0,0,5,0.0,14.0,0,0.0,0.0,0.0,0.0
538,2598430301,2~3인 가구,맞벌이,단독주택,80m²(24평) 이하,여수시,아니오,0,"1,2,7,8,10,13,18,20,21,27,28","0,0",...,0,0,0,0.0,14.0,0,9.0,0.0,0.0,0.0
539,2598435083,2~3인 가구,맞벌이,단독주택,80m²(24평) 이하,여수시,아니오,0,"1,2,7,10,13,16,17,18,20,27","0,0",...,0,0,0,0.0,16.0,0,9.0,0.0,0.0,0.0

In [561]:
data_month=data[[ 'electricalAppliances', 'month1', 'month2',
       'month3', 'month4', 'month5', 'month6', 'month7', 'month8', 'month9',
       'month10', 'month11', 'month12']]
data_month

,electricalAppliances,month1,month2,month3,month4,month5,month6,month7,month8,month9,month10,month11,month12
0,"1, 2, 3, 4, 5, 6, 7, 12, 13, 16, 17, 18, 19, 2...","3, 5, 19","3, 5",5,5,5,1,1,1,"3, 4, 5","3, 4, 5","3, 5","3, 5, 19"
1,"1, 2, 3, 6, 7, 8, 9, 10, 13, 17, 18, 20, 25, 28",3,3,"1, 3","1, 3",0,0,0,0,3,3,3,3
2,"1, 2, 3, 5, 6, 7, 8, 10, 11, 12, 13, 16, 17, 1...","5, 19",19,19,19,19,1,1,1,19,19,5,"5, 19"
3,"1, 2, 7, 8, 10, 12, 13, 15, 16, 17, 18, 20, 25...",0,0,0,0,1,1,1,1,0,0,0,0
4,"2, 6, 7, 10, 13, 16, 17, 18, 19, 20, 21, 27, 2...",19,19,19,19,19,0,0,0,19,19,19,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...
535,"1,2,7,10,13,16,17,18,20,25,27",0,0,0,0,0,1,1,0,0,0,0,0
536,"2,7,10,13,16,17,18,20,27",0,0,0,0,0,0,0,0,0,0,0,0
537,"2,5,7,10,13,16,20",5,5,0,0,0,0,0,0,0,0,0,5
538,"1,2,7,8,10,13,18,20,21,27,28",0,0,0,0,0,1,1,0,0,0,0,0
539,"1,2,7,10,13,16,17,18,20,27",0,0,0,0,0,1,1,0,0,0,0,0

In [562]:
import pandas as pd

for i in range(1, 32):
    data_month[f'appliance_{i}'] = 0

# Function to safely convert to set of integers, handling empty and non-numeric values
def safe_int_set(s):
    try:
        return set(map(int, s.split(', ')))
    except ValueError:
        return set()

# Function to process each row
def process_row(row):
    appliances = safe_int_set(row['electricalAppliances'])
    for month_col in ['month1', 'month2', 'month3', 'month4', 'month5', 'month6', 
                      'month7', 'month8', 'month9', 'month10', 'month11', 'month12']:
        if pd.notna(row[month_col]):  
            month_usage = safe_int_set(row[month_col])
            for appliance in appliances:
                if appliance in month_usage:
                    row[f'appliance_{appliance}'] += 1
    return row


data_month = data_month.apply(process_row, axis=1)
data_month

C:\Users\user\AppData\Local\Temp\ipykernel_11556\3589312273.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_month[f'appliance_{i}'] = 0
C:\Users\user\AppData\Local\Temp\ipykernel_11556\3589312273.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_month[f'appliance_{i}'] = 0
C:\Users\user\AppData\Local\Temp\ipykernel_11556\3589312273.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_month[f'appliance_{i}'] = 0
C:\Users\user\AppData\Local\Temp\ipykernel_11556\3589312273.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_month[f'appliance_{i}'] = 0
C:\Users\user\AppData\Local\Temp\ipykernel_11556\3589312273.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_month[f'appliance_{i}'] = 0
C:\Users\user\AppData\Local\Temp\ipykernel_11556\3589312273.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_month[f'appliance_{i}'] = 0
C:\Users\user\AppData\Local\Temp\ipykernel_11556\3589312273.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_month[f'appliance_{i}'] = 0
C:\Users\user\AppData\Local\Temp\ipykernel_11556\3589312273.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_month[f'appliance_{i}'] = 0
C:\Users\user\AppData\Local\Temp\ipykernel_11556\3589312273.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_month[f'appliance_{i}'] = 0
C:\Users\user\AppData\Local\Temp\ipykernel_11556\3589312273.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_month[f'appliance_{i}'] = 0
C:\Users\user\AppData\Local\Temp\ipykernel_11556\3589312273.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_month[f'appliance_{i}'] = 0
C:\Users\user\AppData\Local\Temp\ipykernel_11556\3589312273.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_month[f'appliance_{i}'] = 0
C:\Users\user\AppData\Local\Temp\ipykernel_11556\3589312273.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_month[f'appliance_{i}'] = 0
C:\Users\user\AppData\Local\Temp\ipykernel_11556\3589312273.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_month[f'appliance_{i}'] = 0
C:\Users\user\AppData\Local\Temp\ipykernel_11556\3589312273.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_month[f'appliance_{i}'] = 0
C:\Users\user\AppData\Local\Temp\ipykernel_11556\3589312273.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_month[f'appliance_{i}'] = 0
C:\Users\user\AppData\Local\Temp\ipykernel_11556\3589312273.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_month[f'appliance_{i}'] = 0
C:\Users\user\AppData\Local\Temp\ipykernel_11556\3589312273.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_month[f'appliance_{i}'] = 0
C:\Users\user\AppData\Local\Temp\ipykernel_11556\3589312273.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_month[f'appliance_{i}'] = 0
C:\Users\user\AppData\Local\Temp\ipykernel_11556\3589312273.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_month[f'appliance_{i}'] = 0
C:\Users\user\AppData\Local\Temp\ipykernel_11556\3589312273.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_month[f'appliance_{i}'] = 0
C:\Users\user\AppData\Local\Temp\ipykernel_11556\3589312273.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_month[f'appliance_{i}'] = 0

,electricalAppliances,month1,month2,month3,month4,month5,month6,month7,month8,month9,...,appliance_22,appliance_23,appliance_24,appliance_25,appliance_26,appliance_27,appliance_28,appliance_29,appliance_30,appliance_31
0,"1, 2, 3, 4, 5, 6, 7, 12, 13, 16, 17, 18, 19, 2...","3, 5, 19","3, 5",5,5,5,1,1,1,"3, 4, 5",...,0,0,0,0,0,0,0,0,0,0
1,"1, 2, 3, 6, 7, 8, 9, 10, 13, 17, 18, 20, 25, 28",3,3,"1, 3","1, 3",0,0,0,0,3,...,0,0,0,0,0,0,0,0,0,0
2,"1, 2, 3, 5, 6, 7, 8, 10, 11, 12, 13, 16, 17, 1...","5, 19",19,19,19,19,1,1,1,19,...,0,0,0,0,0,0,0,0,0,0
3,"1, 2, 7, 8, 10, 12, 13, 15, 16, 17, 18, 20, 25...",0,0,0,0,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
4,"2, 6, 7, 10, 13, 16, 17, 18, 19, 20, 21, 27, 2...",19,19,19,19,19,0,0,0,19,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
535,"1,2,7,10,13,16,17,18,20,25,27",0,0,0,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
536,"2,7,10,13,16,17,18,20,27",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
537,"2,5,7,10,13,16,20",5,5,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
538,"1,2,7,8,10,13,18,20,21,27,28",0,0,0,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
539,"1,2,7,10,13,16,17,18,20,27",0,0,0,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [563]:
data_month=data_month[['appliance_1', 'appliance_2', 'appliance_3', 'appliance_4',
       'appliance_5', 'appliance_6', 'appliance_7', 'appliance_8',
       'appliance_9', 'appliance_10', 'appliance_11', 'appliance_12',
       'appliance_13', 'appliance_14', 'appliance_15', 'appliance_16',
       'appliance_17', 'appliance_18', 'appliance_19', 'appliance_20',
       'appliance_21', 'appliance_22', 'appliance_23', 'appliance_24',
       'appliance_25', 'appliance_26', 'appliance_27', 'appliance_28',
       'appliance_29', 'appliance_30','appliance_31']]
data_month

,appliance_1,appliance_2,appliance_3,appliance_4,appliance_5,appliance_6,appliance_7,appliance_8,appliance_9,appliance_10,...,appliance_22,appliance_23,appliance_24,appliance_25,appliance_26,appliance_27,appliance_28,appliance_29,appliance_30,appliance_31
0,3,0,6,2,9,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0,8,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,0,0,0,3,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
535,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
537,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
538,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
539,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [564]:
df=pd.concat([data, data_month],axis=1)
df=df.drop(['electricalAppliances',
       'computerUsageTime', 'tvUsageTime', 'airconWithHeatUsageTime',
       'airconUsageTime', 'heaterUsageTime', 'elecStoveUsageTime',
       'elecBlanketUsageTime','month1', 'month2',
       'month3', 'month4', 'month5', 'month6', 'month7', 'month8', 'month9',
       'month10', 'month11', 'month12'], axis=1)
df

,id,memberNo,jobType,houseType,houseArea,location,covidEffect,covidPeriod,airFryerUsageTimePerWeek,new_computerUsageTime,...,appliance_22,appliance_23,appliance_24,appliance_25,appliance_26,appliance_27,appliance_28,appliance_29,appliance_30,appliance_31
0,1512160175,1인가구,외벌이,아파트,80m²(24평) 이하,여수시,아니오,0,2.0,7.0,...,0,0,0,0,0,0,0,0,0,0
1,1412130572,1인가구,외벌이,아파트,80m²(24평) 이하,순천시,아니오,0,0.0,5.0,...,0,0,0,0,0,0,0,0,0,0
2,1412140632,2~3인 가구,외벌이,아파트,116m²(35평) 이하,순천시,아니오,0,4.0,34.0,...,0,0,0,0,0,0,0,0,0,0
3,1210230279,2~3인 가구,맞벌이,아파트,116m²(35평) 이하,나주시,아니오,0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
4,1412130542,4인 이상,맞벌이,아파트,80m²(24평) 이하,순천시,아니오,0,1.0,18.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
535,2598385003,2~3인 가구,맞벌이,단독주택,80m²(24평) 이하,여수시,아니오,0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
536,2598395022,2~3인 가구,외벌이,단독주택,80m²(24평) 이하,여수시,아니오,0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
537,2598430260,2~3인 가구,맞벌이,단독주택,80m²(24평) 이하,여수시,아니오,0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
538,2598430301,2~3인 가구,맞벌이,단독주택,80m²(24평) 이하,여수시,아니오,0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
539,2598435083,2~3인 가구,맞벌이,단독주택,80m²(24평) 이하,여수시,아니오,0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [565]:
df=df.replace('순천시',1).replace('목포시',1).replace('여수시',3).replace('광양시',4).replace('나주시',5)

In [566]:
import pandas as pd

In [567]:
tem1=pd.read_csv('1.csv')
tem2=pd.read_csv('2.csv')
tem3=pd.read_csv('3.csv')
tem4=pd.read_csv('4.csv')
tem5=pd.read_csv('5.csv')

In [568]:
tem1=tem1.groupby('month')[['humidity','temperature']].mean()
tem2=tem2.groupby('month')[['humidity','temperature']].mean()
tem3=tem3.groupby('month')[['humidity','temperature']].mean()
tem4=tem4.groupby('month')[['humidity','temperature']].mean()
tem5=tem5.groupby('month')[['humidity','temperature']].mean()

In [569]:
tem1

        humidity  temperature
month
1      52.691532     2.525067
2      47.581845     4.495536
3      60.981183    10.609677
4      55.034722    15.418056
5      57.836022    19.258065
6      72.475694    23.495833
7      76.155914    27.461694
8      77.610887    27.072581
9      72.197917    22.827083
10     60.769489    17.325941
11     61.628472    11.050694
12     56.370968     4.043817

In [570]:
df

,id,memberNo,jobType,houseType,houseArea,location,covidEffect,covidPeriod,airFryerUsageTimePerWeek,new_computerUsageTime,...,appliance_22,appliance_23,appliance_24,appliance_25,appliance_26,appliance_27,appliance_28,appliance_29,appliance_30,appliance_31
0,1512160175,1인가구,외벌이,아파트,80m²(24평) 이하,3,아니오,0,2.0,7.0,...,0,0,0,0,0,0,0,0,0,0
1,1412130572,1인가구,외벌이,아파트,80m²(24평) 이하,1,아니오,0,0.0,5.0,...,0,0,0,0,0,0,0,0,0,0
2,1412140632,2~3인 가구,외벌이,아파트,116m²(35평) 이하,1,아니오,0,4.0,34.0,...,0,0,0,0,0,0,0,0,0,0
3,1210230279,2~3인 가구,맞벌이,아파트,116m²(35평) 이하,5,아니오,0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
4,1412130542,4인 이상,맞벌이,아파트,80m²(24평) 이하,1,아니오,0,1.0,18.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
535,2598385003,2~3인 가구,맞벌이,단독주택,80m²(24평) 이하,3,아니오,0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
536,2598395022,2~3인 가구,외벌이,단독주택,80m²(24평) 이하,3,아니오,0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
537,2598430260,2~3인 가구,맞벌이,단독주택,80m²(24평) 이하,3,아니오,0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
538,2598430301,2~3인 가구,맞벌이,단독주택,80m²(24평) 이하,3,아니오,0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
539,2598435083,2~3인 가구,맞벌이,단독주택,80m²(24평) 이하,3,아니오,0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [571]:
tem_datasets={1:tem1, 2:tem2, 3: tem3, 4: tem4, 5:tem5}
for i in range(1, 13):
    df[f'humidity_{i}'] = 0
    df[f'temperature_{i}'] = 0

# 각 행에 대해 location에 따라 tem 데이터셋에서 값을 채우기
for index, row in df.iterrows():
    tem_data = tem_datasets[row['location']]
    for i in range(1, 13):
        df.at[index, f'humidity_{i}'] = tem_data.loc[i, 'humidity']
        df.at[index, f'temperature_{i}'] = tem_data.loc[i, 'temperature']
df

,id,memberNo,jobType,houseType,houseArea,location,covidEffect,covidPeriod,airFryerUsageTimePerWeek,new_computerUsageTime,...,humidity_8,temperature_8,humidity_9,temperature_9,humidity_10,temperature_10,humidity_11,temperature_11,humidity_12,temperature_12
0,1512160175,1인가구,외벌이,아파트,80m²(24평) 이하,3,아니오,0,2.0,7.0,...,79.227151,26.418011,71.371528,22.200000,59.203629,17.117608,58.645833,11.181250,52.704973,4.284610
1,1412130572,1인가구,외벌이,아파트,80m²(24평) 이하,1,아니오,0,0.0,5.0,...,79.227151,26.418011,71.371528,22.200000,59.203629,17.117608,58.645833,11.181250,52.704973,4.284610
2,1412140632,2~3인 가구,외벌이,아파트,116m²(35평) 이하,1,아니오,0,4.0,34.0,...,79.227151,26.418011,71.371528,22.200000,59.203629,17.117608,58.645833,11.181250,52.704973,4.284610
3,1210230279,2~3인 가구,맞벌이,아파트,116m²(35평) 이하,5,아니오,0,0.0,0.0,...,79.227151,26.418011,71.371528,22.200000,59.203629,17.117608,58.645833,11.181250,52.704973,4.284610
4,1412130542,4인 이상,맞벌이,아파트,80m²(24평) 이하,1,아니오,0,1.0,18.0,...,79.227151,26.418011,71.371528,22.200000,59.203629,17.117608,58.645833,11.181250,52.704973,4.284610
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
535,2598385003,2~3인 가구,맞벌이,단독주택,80m²(24평) 이하,3,아니오,0,0.0,0.0,...,77.960349,26.768145,73.857639,22.704861,60.194892,17.765457,57.763889,11.936111,53.380376,4.897446
536,2598395022,2~3인 가구,외벌이,단독주택,80m²(24평) 이하,3,아니오,0,0.0,0.0,...,77.960349,26.768145,73.857639,22.704861,60.194892,17.765457,57.763889,11.936111,53.380376,4.897446
537,2598430260,2~3인 가구,맞벌이,단독주택,80m²(24평) 이하,3,아니오,0,0.0,0.0,...,77.960349,26.768145,73.857639,22.704861,60.194892,17.765457,57.763889,11.936111,53.380376,4.897446
538,2598430301,2~3인 가구,맞벌이,단독주택,80m²(24평) 이하,3,아니오,0,0.0,0.0,...,77.960349,26.768145,73.857639,22.704861,60.194892,17.765457,57.763889,11.936111,53.380376,4.897446
539,2598435083,2~3인 가구,맞벌이,단독주택,80m²(24평) 이하,3,아니오,0,0.0,0.0,...,77.960349,26.768145,73.857639,22.704861,60.194892,17.765457,57.763889,11.936111,53.380376,4.897446

In [ ]:
electric['ratio']

In [ ]:
electric=pd.read_csv('electric_ratio.csv', encoding='cp949')
electric['ratio']=electric['전력사용량']/electric['전력사용량'].sum()
electric['ratio']

In [ ]:
import pandas as pd
import numpy as np

ratios=electric['ratio']
for i, ratio in enumerate(ratios, 1):
    df[f'appliance_{i}'] *= ratio

df.head()  # 결과 확인

In [530]:
df['location'].value_counts()

location
1    1619
3     819
4     353
5     249
Name: count, dtype: int64

In [1]:
df.astype(float)

NameError: name 'df' is not defined

In [576]:
df=pd.get_dummies(df)
df=df.astype(float)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3040 entries, 0 to 539
Data columns (total 81 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           3040 non-null   float64
 1   location                     3040 non-null   float64
 2   covidPeriod                  3040 non-null   float64
 3   airFryerUsageTimePerWeek     3040 non-null   float64
 4   new_computerUsageTime        3040 non-null   float64
 5   new_tvUsageTime              3040 non-null   float64
 6   new_airconWithHeatUsageTime  3040 non-null   float64
 7   new_airconUsageTime          3040 non-null   float64
 8   new_heaterUsageTime          3040 non-null   float64
 9   new_elecStoveUsageTime       3040 non-null   float64
 10  new_elecBlanketUsageTime     3040 non-null   float64
 11  appliance_1                  3040 non-null   float64
 12  appliance_2                  3040 non-null   float64
 13  appliance_3                  3040 non-null   float64
 14  appliance_4                  3040 non-null   float64
 15  appliance_5                  3040 non-null   float64
 16  appliance_6                  3040 non-null   float64
 17  appliance_7                  3040 non-null   float64
 18  appliance_8                  3040 non-null   float64
 19  appliance_9                  3040 non-null   float64
 20  appliance_10                 3040 non-null   float64
 21  appliance_11                 3040 non-null   float64
 22  appliance_12                 3040 non-null   float64
 23  appliance_13                 3040 non-null   float64
 24  appliance_14                 3040 non-null   float64
 25  appliance_15                 3040 non-null   float64
 26  appliance_16                 3040 non-null   float64
 27  appliance_17                 3040 non-null   float64
 28  appliance_18                 3040 non-null   float64
 29  appliance_19                 3040 non-null   float64
 30  appliance_20                 3040 non-null   float64
 31  appliance_21                 3040 non-null   float64
 32  appliance_22                 3040 non-null   float64
 33  appliance_23                 3040 non-null   float64
 34  appliance_24                 3040 non-null   float64
 35  appliance_25                 3040 non-null   float64
 36  appliance_26                 3040 non-null   float64
 37  appliance_27                 3040 non-null   float64
 38  appliance_28                 3040 non-null   float64
 39  appliance_29                 3040 non-null   float64
 40  appliance_30                 3040 non-null   float64
 41  appliance_31                 3040 non-null   float64
 42  humidity_1                   3040 non-null   float64
 43  temperature_1                3040 non-null   float64
 44  humidity_2                   3040 non-null   float64
 45  temperature_2                3040 non-null   float64
 46  humidity_3                   3040 non-null   float64
 47  temperature_3                3040 non-null   float64
 48  humidity_4                   3040 non-null   float64
 49  temperature_4                3040 non-null   float64
 50  humidity_5                   3040 non-null   float64
 51  temperature_5                3040 non-null   float64
 52  humidity_6                   3040 non-null   float64
 53  temperature_6                3040 non-null   float64
 54  humidity_7                   3040 non-null   float64
 55  temperature_7                3040 non-null   float64
 56  humidity_8                   3040 non-null   float64
 57  temperature_8                3040 non-null   float64
 58  humidity_9                   3040 non-null   float64
 59  temperature_9                3040 non-null   float64
 60  humidity_10                  3040 non-null   float64
 61  temperature_10               3040 non-null   float64
 62  humidity_11                  3040 non-null   float64
 63  temperature_11               3040 non-null   float64
 64  humidity_12                  3040 non-null   float64
 65  temperature_12               3040 non-null   float64
 66  memberNo_1인가구                3040 non-null   float64
 67  memberNo_2~3인 가구             3040 non-null   float64
 68  memberNo_4인 이상               3040 non-null   float64
 69  jobType_노령(상주)               3040 non-null   float64
 70  jobType_맞벌이                  3040 non-null   float64
 71  jobType_외벌이                  3040 non-null   float64
 72  houseType_단독주택               3040 non-null   float64
 73  houseType_빌라                 3040 non-null   float64
 74  houseType_아파트                3040 non-null   float64
 75  houseArea_116m²(35평) 이하      3040 non-null   float64
 76  houseArea_116m²(35평) 초과      3040 non-null   float64
 77  houseArea_80m²(24평) 이하       3040 non-null   float64
 78  covidEffect_아니오              3040 non-null   float64
 79  covidEffect_온라인 학습           3040 non-null   float64
 80  covidEffect_재택근무             3040 non-null   float64
dtypes: float64(81)
memory usage: 2.0 MB

In [577]:
# 데이타 정규화
from sklearn.preprocessing import MinMaxScaler
scaler= MinMaxScaler()
scaled=scaler.fit_transform(df)

In [578]:
y

0       1692
1       2912
2       7817
3       3252
4       3624
        ...
2495     421
2496    2661
2497    6588
2498    4874
2499    2737
Name: power, Length: 2500, dtype: int64

In [579]:
x=df[:2500]
test=df[2500:]

In [580]:
# 데이터 분할하기
from sklearn.model_selection import train_test_split
train_x, val_x, train_y, val_y= train_test_split(x,y, test_size=0.2)

In [612]:
# 모델구축 및 예측하기
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV
rf= RandomForestRegressor()
param_grid={ 'n_estimators': [50,150,150], 'max_depth': [20,40,60], 'min_samples_split': [2,5,10]}
gs=GridSearchCV(estimator=rf, param_grid=param_grid, cv=5, verbose=2 )
gs.fit(train_x, train_y)

Fitting 5 folds for each of 27 candidates, totalling 135 fits
[CV] END .max_depth=20, min_samples_split=2, n_estimators=50; total time=   1.2s
[CV] END .max_depth=20, min_samples_split=2, n_estimators=50; total time=   1.2s
[CV] END .max_depth=20, min_samples_split=2, n_estimators=50; total time=   1.2s
[CV] END .max_depth=20, min_samples_split=2, n_estimators=50; total time=   1.2s
[CV] END .max_depth=20, min_samples_split=2, n_estimators=50; total time=   1.2s
[CV] END max_depth=20, min_samples_split=2, n_estimators=150; total time=   4.0s
[CV] END max_depth=20, min_samples_split=2, n_estimators=150; total time=   3.8s
[CV] END max_depth=20, min_samples_split=2, n_estimators=150; total time=   3.8s
[CV] END max_depth=20, min_samples_split=2, n_estimators=150; total time=   3.9s
[CV] END max_depth=20, min_samples_split=2, n_estimators=150; total time=   3.9s
[CV] END max_depth=20, min_samples_split=2, n_estimators=150; total time=   3.9s
[CV] END max_depth=20, min_samples_split=2, n_estimators=150; total time=   3.8s
[CV] END max_depth=20, min_samples_split=2, n_estimators=150; total time=   3.8s
[CV] END max_depth=20, min_samples_split=2, n_estimators=150; total time=   3.9s
[CV] END max_depth=20, min_samples_split=2, n_estimators=150; total time=   3.9s
[CV] END .max_depth=20, min_samples_split=5, n_estimators=50; total time=   0.9s
[CV] END .max_depth=20, min_samples_split=5, n_estimators=50; total time=   0.8s
[CV] END .max_depth=20, min_samples_split=5, n_estimators=50; total time=   0.8s
[CV] END .max_depth=20, min_samples_split=5, n_estimators=50; total time=   0.9s
[CV] END .max_depth=20, min_samples_split=5, n_estimators=50; total time=   0.9s
[CV] END max_depth=20, min_samples_split=5, n_estimators=150; total time=   2.8s
[CV] END max_depth=20, min_samples_split=5, n_estimators=150; total time=   2.8s
[CV] END max_depth=20, min_samples_split=5, n_estimators=150; total time=   2.7s
[CV] END max_depth=20, min_samples_split=5, n_estimators=150; total time=   2.8s
[CV] END max_depth=20, min_samples_split=5, n_estimators=150; total time=   2.8s
[CV] END max_depth=20, min_samples_split=5, n_estimators=150; total time=   2.8s
[CV] END max_depth=20, min_samples_split=5, n_estimators=150; total time=   2.8s
[CV] END max_depth=20, min_samples_split=5, n_estimators=150; total time=   2.8s
[CV] END max_depth=20, min_samples_split=5, n_estimators=150; total time=   2.8s
[CV] END max_depth=20, min_samples_split=5, n_estimators=150; total time=   2.8s
[CV] END max_depth=20, min_samples_split=10, n_estimators=50; total time=   0.7s
[CV] END max_depth=20, min_samples_split=10, n_estimators=50; total time=   0.6s
[CV] END max_depth=20, min_samples_split=10, n_estimators=50; total time=   0.6s
[CV] END max_depth=20, min_samples_split=10, n_estimators=50; total time=   0.7s
[CV] END max_depth=20, min_samples_split=10, n_estimators=50; total time=   0.6s
[CV] END max_depth=20, min_samples_split=10, n_estimators=150; total time=   2.1s
[CV] END max_depth=20, min_samples_split=10, n_estimators=150; total time=   2.1s
[CV] END max_depth=20, min_samples_split=10, n_estimators=150; total time=   2.1s
[CV] END max_depth=20, min_samples_split=10, n_estimators=150; total time=   2.1s
[CV] END max_depth=20, min_samples_split=10, n_estimators=150; total time=   2.1s
[CV] END max_depth=20, min_samples_split=10, n_estimators=150; total time=   2.1s
[CV] END max_depth=20, min_samples_split=10, n_estimators=150; total time=   2.0s
[CV] END max_depth=20, min_samples_split=10, n_estimators=150; total time=   2.1s
[CV] END max_depth=20, min_samples_split=10, n_estimators=150; total time=   2.1s
[CV] END max_depth=20, min_samples_split=10, n_estimators=150; total time=   2.1s
[CV] END .max_depth=40, min_samples_split=2, n_estimators=50; total time=   1.3s
[CV] END .max_depth=40, min_samples_split=2, n_estimators=50; total time=   1.2s
[CV] END .max_depth=40, min_samples_split=2, n_estimators=50; total time=   1.3s
[CV] END .max_depth=40, min_samples_split=2, n_estimators=50; total time=   1.3s
[CV] END .max_depth=40, min_samples_split=2, n_estimators=50; total time=   1.3s
[CV] END max_depth=40, min_samples_split=2, n_estimators=150; total time=   4.0s
[CV] END max_depth=40, min_samples_split=2, n_estimators=150; total time=   4.0s
[CV] END max_depth=40, min_samples_split=2, n_estimators=150; total time=   3.9s
[CV] END max_depth=40, min_samples_split=2, n_estimators=150; total time=   3.9s
[CV] END max_depth=40, min_samples_split=2, n_estimators=150; total time=   4.0s
[CV] END max_depth=40, min_samples_split=2, n_estimators=150; total time=   3.9s
[CV] END max_depth=40, min_samples_split=2, n_estimators=150; total time=   3.7s
[CV] END max_depth=40, min_samples_split=2, n_estimators=150; total time=   3.7s
[CV] END max_depth=40, min_samples_split=2, n_estimators=150; total time=   3.8s
[CV] END max_depth=40, min_samples_split=2, n_estimators=150; total time=   3.8s
[CV] END .max_depth=40, min_samples_split=5, n_estimators=50; total time=   0.9s
[CV] END .max_depth=40, min_samples_split=5, n_estimators=50; total time=   0.9s
[CV] END .max_depth=40, min_samples_split=5, n_estimators=50; total time=   0.8s
[CV] END .max_depth=40, min_samples_split=5, n_estimators=50; total time=   0.8s
[CV] END .max_depth=40, min_samples_split=5, n_estimators=50; total time=   0.8s
[CV] END max_depth=40, min_samples_split=5, n_estimators=150; total time=   2.8s
[CV] END max_depth=40, min_samples_split=5, n_estimators=150; total time=   2.7s
[CV] END max_depth=40, min_samples_split=5, n_estimators=150; total time=   2.6s
[CV] END max_depth=40, min_samples_split=5, n_estimators=150; total time=   2.7s
[CV] END max_depth=40, min_samples_split=5, n_estimators=150; total time=   2.7s
[CV] END max_depth=40, min_samples_split=5, n_estimators=150; total time=   2.7s
[CV] END max_depth=40, min_samples_split=5, n_estimators=150; total time=   2.7s
[CV] END max_depth=40, min_samples_split=5, n_estimators=150; total time=   2.7s
[CV] END max_depth=40, min_samples_split=5, n_estimators=150; total time=   2.7s
[CV] END max_depth=40, min_samples_split=5, n_estimators=150; total time=   2.7s
[CV] END max_depth=40, min_samples_split=10, n_estimators=50; total time=   0.7s
[CV] END max_depth=40, min_samples_split=10, n_estimators=50; total time=   0.6s
[CV] END max_depth=40, min_samples_split=10, n_estimators=50; total time=   0.6s
[CV] END max_depth=40, min_samples_split=10, n_estimators=50; total time=   0.6s
[CV] END max_depth=40, min_samples_split=10, n_estimators=50; total time=   0.6s
[CV] END max_depth=40, min_samples_split=10, n_estimators=150; total time=   2.1s
[CV] END max_depth=40, min_samples_split=10, n_estimators=150; total time=   2.0s
[CV] END max_depth=40, min_samples_split=10, n_estimators=150; total time=   2.0s
[CV] END max_depth=40, min_samples_split=10, n_estimators=150; total time=   2.2s
[CV] END max_depth=40, min_samples_split=10, n_estimators=150; total time=   2.1s
[CV] END max_depth=40, min_samples_split=10, n_estimators=150; total time=   2.2s
[CV] END max_depth=40, min_samples_split=10, n_estimators=150; total time=   2.0s
[CV] END max_depth=40, min_samples_split=10, n_estimators=150; total time=   2.0s
[CV] END max_depth=40, min_samples_split=10, n_estimators=150; total time=   2.1s
[CV] END max_depth=40, min_samples_split=10, n_estimators=150; total time=   2.1s
[CV] END .max_depth=60, min_samples_split=2, n_estimators=50; total time=   1.2s
[CV] END .max_depth=60, min_samples_split=2, n_estimators=50; total time=   1.2s
[CV] END .max_depth=60, min_samples_split=2, n_estimators=50; total time=   1.2s
[CV] END .max_depth=60, min_samples_split=2, n_estimators=50; total time=   1.3s
[CV] END .max_depth=60, min_samples_split=2, n_estimators=50; total time=   1.2s
[CV] END max_depth=60, min_samples_split=2, n_estimators=150; total time=   3.9s
[CV] END max_depth=60, min_samples_split=2, n_estimators=150; total time=   3.8s
[CV] END max_depth=60, min_samples_split=2, n_estimators=150; total time=   3.8s
[CV] END max_depth=60, min_samples_split=2, n_estimators=150; total time=   3.9s
[CV] END max_depth=60, min_samples_split=2, n_estimators=150; total time=   3.9s
[CV] END max_depth=60, min_samples_split=2, n_estimators=150; total time=   3.9s

[CV] END max_depth=60, min_samples_split=2, n_estimators=150; total time=   3.8s
[CV] END max_depth=60, min_samples_split=2, n_estimators=150; total time=   3.8s
[CV] END max_depth=60, min_samples_split=2, n_estimators=150; total time=   3.9s
[CV] END max_depth=60, min_samples_split=2, n_estimators=150; total time=   3.9s
[CV] END .max_depth=60, min_samples_split=5, n_estimators=50; total time=   0.8s
[CV] END .max_depth=60, min_samples_split=5, n_estimators=50; total time=   0.8s
[CV] END .max_depth=60, min_samples_split=5, n_estimators=50; total time=   0.8s
[CV] END .max_depth=60, min_samples_split=5, n_estimators=50; total time=   0.9s
[CV] END .max_depth=60, min_samples_split=5, n_estimators=50; total time=   0.8s
[CV] END max_depth=60, min_samples_split=5, n_estimators=150; total time=   2.8s
[CV] END max_depth=60, min_samples_split=5, n_estimators=150; total time=   2.8s
[CV] END max_depth=60, min_samples_split=5, n_estimators=150; total time=   2.7s
[CV] END max_depth=60, min_samples_split=5, n_estimators=150; total time=   2.8s
[CV] END max_depth=60, min_samples_split=5, n_estimators=150; total time=   2.7s
[CV] END max_depth=60, min_samples_split=5, n_estimators=150; total time=   2.8s
[CV] END max_depth=60, min_samples_split=5, n_estimators=150; total time=   2.7s
[CV] END max_depth=60, min_samples_split=5, n_estimators=150; total time=   2.8s
[CV] END max_depth=60, min_samples_split=5, n_estimators=150; total time=   2.8s
[CV] END max_depth=60, min_samples_split=5, n_estimators=150; total time=   2.7s
[CV] END max_depth=60, min_samples_split=10, n_estimators=50; total time=   0.7s
[CV] END max_depth=60, min_samples_split=10, n_estimators=50; total time=   0.7s
[CV] END max_depth=60, min_samples_split=10, n_estimators=50; total time=   0.6s
[CV] END max_depth=60, min_samples_split=10, n_estimators=50; total time=   0.6s
[CV] END max_depth=60, min_samples_split=10, n_estimators=50; total time=   0.6s
[CV] END max_depth=60, min_samples_split=10, n_estimators=150; total time=   2.1s
[CV] END max_depth=60, min_samples_split=10, n_estimators=150; total time=   2.0s
[CV] END max_depth=60, min_samples_split=10, n_estimators=150; total time=   2.0s
[CV] END max_depth=60, min_samples_split=10, n_estimators=150; total time=   2.1s
[CV] END max_depth=60, min_samples_split=10, n_estimators=150; total time=   2.0s
[CV] END max_depth=60, min_samples_split=10, n_estimators=150; total time=   2.1s
[CV] END max_depth=60, min_samples_split=10, n_estimators=150; total time=   2.0s
[CV] END max_depth=60, min_samples_split=10, n_estimators=150; total time=   2.0s
[CV] END max_depth=60, min_samples_split=10, n_estimators=150; total time=   2.1s
[CV] END max_depth=60, min_samples_split=10, n_estimators=150; total time=   2.1s

GridSearchCV(cv=5, estimator=RandomForestRegressor(),
             param_grid={'max_depth': [20, 40, 60],
                         'min_samples_split': [2, 5, 10],
                         'n_estimators': [50, 150, 150]},
             verbose=2)

In [613]:
gs.best_params_

{'max_depth': 20, 'min_samples_split': 10, 'n_estimators': 150}

In [614]:
gs.best_score_

0.2753773429959436

In [615]:
pred_y= gs.best_estimator_.predict(val_x)
pred_y

array([2906.59311388, 3374.02462249, 2441.19905612, 7033.58228776,
       6916.26088517, 8217.48394174, 5737.75050831, 6308.51831869,
       6636.21416242, 2142.93931473, 5546.52573972, 5920.11227157,
       7976.59476113, 4377.32757426, 3385.68370511, 5119.96477417,
       5594.5775953 , 8187.57521318, 7614.68104807, 6527.90799513,
       4907.680448  , 5836.33125318, 5197.08360376, 4680.83247949,
       3969.84708806, 2559.81215624, 3177.74679291, 4457.50040158,
       6027.48290496, 4221.7897489 , 3393.05274114, 6919.46788845,
       5708.10174714, 8568.15299711, 6481.71708183, 6356.38559503,
       4957.19711097, 6430.14742808, 5635.40470496, 5831.72717459,
       4950.32871427, 6369.74421184, 4231.03145622, 2503.21388945,
       6543.69237943, 6582.10704896, 6050.83298701, 7934.78485061,
       5523.24372321, 2630.4254474 , 6307.54356336, 7243.96153942,
       8242.6405469 , 3363.47619518, 5913.46976605, 6292.20372284,
       3961.41532374, 8261.53454063, 6082.14879428, 7078.76741683,
       6343.11197148, 4117.81637372, 3308.96195564, 7520.09777152,
       6478.87597847, 5922.35644569, 6192.59646293, 6003.23791888,
       5935.64521417, 3499.48086778, 6475.29198337, 4212.63240908,
       4610.93561903, 3598.56010446, 3248.88702419, 7777.86583512,
       4587.64322524, 3241.5956225 , 7383.01205232, 5478.09055725,
       6752.40200543, 5944.73235345, 4641.00317964, 5360.82212585,
       4975.73211177, 6887.72443501, 8547.09843411, 5817.57364773,
       4366.56634629, 2568.34118085, 6930.77362598, 6397.63894256,
       7537.90611616, 6531.53678967, 3785.67076497, 4978.5062607 ,
       5590.83648677, 5979.1267388 , 7116.56521574, 7753.51953497,
       5809.63718584, 5712.71783499, 8609.50428388, 4426.659299  ,
       3570.9826728 , 6646.28888995, 4272.05638676, 4065.18488351,
       8123.58217973, 7700.1176137 , 7157.01477345, 4524.16524814,
       3661.91183297, 3648.33955262, 2524.03864681, 6559.36157591,
       5801.74365279, 8658.45667434, 7061.58920449, 5808.12795462,
       7788.10919468, 9859.79729276, 5050.98058627, 8338.19951126,
       6718.89182062, 4681.79723204, 6744.87000324, 8361.15119356,
       6264.01426042, 7102.0533825 , 5764.13630854, 3810.43876918,
       6478.0678798 , 5116.26875464, 7715.28939825, 4624.37049488,
       8079.86320764, 6538.25880379, 5640.37638271, 5739.79708219,
       7142.64248671, 4632.69267294, 5142.92699252, 6211.3783317 ,
       8213.141415  , 6057.06909497, 5332.10233897, 5316.63273366,
       5973.68997957, 6077.03710801, 4527.39682819, 7251.9259401 ,
       6680.54428329, 7363.03827454, 3618.85235697, 6830.97392741,
       4814.74924035, 6669.53468742, 6080.04201922, 6356.94455546,
       6781.82331537, 4842.13916636, 6956.06007381, 4957.92452369,
       7340.31159561, 7145.84075931, 7248.15422353, 6389.06456572,
       6692.81883974, 6446.70763325, 1892.4471816 , 6394.0620243 ,
       4994.68106405, 6057.90000029, 6436.51696153, 8107.88100585,
       4237.33304851, 5577.62650636, 7632.10131569, 1997.16541433,
       2950.02323231, 5279.23284654, 5577.46477955, 2655.77775527,
       7017.80978501, 7128.84845012, 6143.52612693, 7765.3903037 ,
       6383.87620419, 1996.25271235, 4333.89146595, 8144.37329623,
       6529.322802  , 6738.65271272, 6405.0343126 , 7733.09509582,
       4423.51618375, 5155.01658074, 5246.58516639, 6849.4242773 ,
       6337.60959211, 6707.72031709, 3922.42672495, 8005.87066563,
       5226.47399378, 6344.33705343, 5152.22887796, 5260.92449815,
       2676.29503684, 5117.94454891, 1768.39804245, 2210.9382643 ,
       2504.0150895 , 3641.26381693, 4041.69969691, 6834.51907384,
       1739.87699285, 2522.31910842, 4231.42803355, 4347.62364136,
       5231.55226616, 7512.76911885, 6412.73885787, 4232.22390679,
       6234.47467326, 5778.70002274, 6108.5054289 , 3655.11007094,
       6140.8852523 , 7102.12577473, 5190.99838818, 5120.74147204,
       4882.66222191, 6278.16586524, 5530.53888704, 3852.56797151,
       4066.45489439, 5999.98725169, 4376.84457126, 6462.41433363,
       6412.59279569, 8201.79206666, 3307.9149676 , 6201.40452219,
       7395.51774506, 5966.78040819, 6270.75699281, 7608.32762708,
       6197.53669909, 5485.45585501, 8241.72446833, 5851.7163177 ,
       6514.29723962, 6559.37744494, 5388.59366996, 7657.65811143,
       3997.29977643, 5296.32139971, 5948.70920895, 4082.1061532 ,
       6796.7761703 , 2687.68336537, 5668.93061458, 4545.82159218,
       7026.41013792, 7368.86088944, 6102.49885505, 3888.65781222,
       5127.55359437, 5818.30411482, 4835.00794951, 7233.87187558,
       3982.0355493 , 5307.78790804, 5312.92447048, 6291.44498406,
       7467.47732064, 5390.76763349, 4031.16951538, 5114.46438227,
       6225.00914875, 4605.31644199, 2424.55578576, 5505.50734034,
       4805.38685146, 7167.22738755, 7269.60362913, 8253.06556868,
       3473.26452779, 5159.32390434, 2890.96301469, 3229.29513496,
       7289.87684866, 4804.90490063, 2492.79601972, 5685.64099606,
       4607.99947875, 5483.22453497, 3523.90683855, 4889.34169505,
       4575.66587799, 4218.79215286, 5050.68719929, 2680.97999055,
       4992.92748721, 3574.32943355, 5575.91930517, 6483.34313494,
       7388.28761375, 4446.76100081, 4795.3101814 , 2280.77015686,
       5822.27900744, 5962.01408348, 4826.99705358, 6466.42457582,
       4918.92336734, 8310.9687572 , 4859.13626176, 4492.27250672,
       4525.68988715, 6762.91211967, 5529.60006948, 3764.77355044,
       4007.97726175, 2971.8462548 , 7674.91020802, 2638.86913073,
       6688.12954727, 3241.03628266, 4869.17608302, 5234.77891873,
       6021.99404007, 3072.44837056, 7957.35960032, 4264.8267348 ,
       4979.10736075, 8640.44067616, 3307.74962723, 6253.39153705,
       1851.87504813, 4886.0572017 , 5123.78310535, 2853.34272796,
       4345.11209452, 3727.41211463, 3230.34193618, 1332.9705699 ,
       1626.86063027, 6466.83295731, 4152.06005797, 6173.08103656,
       5011.55146526, 5294.49834126, 5111.41639552, 4981.6309368 ,
       2638.6504439 , 8660.60196655, 7072.82321102, 1902.37669325,
       7841.37051378, 7379.31819584, 7294.61111043, 4421.24295379,
       7409.4384402 , 6375.11817312, 4739.17019907, 8104.15535498,
       3727.80238086, 3844.22156139, 5725.45464219, 4100.40488689,
       5223.02267392, 6539.0262582 , 4116.02028778, 1583.30062194,
       2452.87323683, 6039.10583315, 5804.95458322, 7609.20693105,
       7932.26234549, 4759.80386505, 2631.88335656, 4886.80390355,
       1520.41586269, 5907.83903464, 6455.99725983, 7095.96122848,
       5796.92641704, 3834.80093865, 7238.24033971, 7260.95135953,
       5425.2694116 , 3973.28532185, 3095.24899658, 3867.54740402,
       5397.74340416, 6158.80469709, 6165.2692789 , 3223.41360229,
       6892.17938515, 6299.582221  , 4679.77668756, 4156.26807931,
       7448.39840008, 3380.60942739, 5826.22868249, 5776.93236757,
       5524.30598974, 5552.83468441, 6088.00926498, 7042.82922583,
       4399.22251288, 5914.63300642, 5741.0209768 , 9417.36284652,
       5516.68336581, 6226.89496537, 3274.05099507, 6761.56393984,
       5661.75255967, 8314.91537153, 6590.17657918, 2605.14634183,
       1577.70835621, 6165.45580381, 7877.71260656, 6034.70144874,
       7111.61987879, 4301.09758769, 6226.81640357, 7596.81732498,
       3408.16411804, 6777.11358455, 5268.90303912, 6139.73055786,
       6385.9309691 , 4507.36784233, 6021.9623469 , 4851.22057748,
       5980.87230717, 2853.99483573, 7244.14829354, 7050.165084  ,
       6243.99399096, 4194.52321433, 4863.43679767, 6468.79363995,
       2520.03563118, 5996.57944822, 5884.72334705, 2774.21949847,
       6911.44812589, 6054.6059136 , 4426.52269069, 2393.65034792,
       6755.11384566, 1831.01170227, 7056.28042503, 5390.24715704,
       6845.99692981, 8206.78048011, 3411.13594442, 6351.6252219 ,
       4077.13831139, 6683.87113234, 3860.78647528, 5594.5775953 ,
       8947.82307864, 3651.56281372, 4164.81555884, 7028.70747918,
       7976.59476113, 6169.28281321, 6804.57878922, 3659.23743935,
       3698.42431053, 3457.34434269, 6546.54905518, 2464.90366137,
       7141.40551361, 6358.73617239, 6081.76657772, 6408.05621337,
       4201.9447421 , 5527.47090262, 4398.32254842, 6587.80079594,
       5809.76047859, 2692.32598655, 8246.63628533, 3496.66915372,
       2971.10343305, 7589.22188188, 7408.59391599, 4341.22087411,
       8262.01641108, 7726.95953805, 6709.04966809, 5848.01350329])

In [616]:
# 모델에 대한 평가
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
import numpy as np
mse=mean_squared_error(val_y, pred_y)
print("MSE:", mse)
print("RMSE:", np.sqrt(mse))
print("MAE:", mean_absolute_error(val_y, pred_y))
print("R2_SCORE:",  r2_score(val_y, pred_y))

MSE: 5575570.425931069
RMSE: 2361.264581941437
MAE: 1680.575585898175
R2_SCORE: 0.25230732756946306

In [617]:
result=gs.best_estimator_.predict(test)
result=pd.DataFrame(result, columns=['power'])
result

           power
0    6998.553942
1    6402.549988
2    5276.269202
3    5488.274626
4    6337.321563
..           ...
535  6499.396811
536  5576.631068
537  6056.849811
538  7255.634887
539  6682.635427

[540 rows x 1 columns]

In [618]:
id=pd.DataFrame(test['id'], columns=['id'])

In [620]:
answer=pd.concat([id, result],axis=1)
answer['power']=answer['power'].astype(int)
answer.to_csv('C_answer5.csv', index=False)