# 베이스라인 코드

## 0. 사전설명
### 배경 : 전력공사에서는 지역별 전력사용량을 예측하여 전기수요를 예측하고자 합니다.
### 목표 : 가정의 여러 정보를 통해 사용할 1년간 사용할 전력량을 예측합니다.
### ※ 전력량 예측 시 소수점 아래자리는 올림처리합니다.

[컬럼명 및 설명]

'id' : 가정집 고유번호
'memberNo' : 구성원 정보
'jobType' : 구성원 경제형태
'houseType' : 주거형태
'houseArea' : 주거면적
'location' : 주거지역
'covidEffect' : 재택근무 경험여부
'covidPeriod' : 재택기간(일)
'electricalAppliances' : 사용하는 전자기기 리스트
'computerUsageTime' : 컴퓨터 사용시간
'tvUsageTime' : TV 사용시간
'airconWithHeatUsageTime' : 에어컨(온냉방) 사용시간
'airconUsageTime' : 에어컨(냉방) 사용시간
'heaterUsageTime' : 난방기 사용시간
'elecStoveUsageTime': 전기난로 사용시간
'elecBlanketUsageTime' : 전기장판 사용시간
'airFryerUsageTimePerWeek' : 에어프라이기 사용시간
'month1~12' : 1월부터 12월까지 각 월에 사용한 전자기기 리스트
'power' : 1년간 사용한 전력량

## 1. 모듈 및 데이터셋 로드

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('./train.csv')

In [3]:
data

,id,memberNo,jobType,houseType,houseArea,location,covidEffect,covidPeriod,electricalAppliances,computerUsageTime,...,month4,month5,month6,month7,month8,month9,month10,month11,month12,power
0,1512160175,1인가구,외벌이,아파트,80m²(24평) 이하,여수시,아니오,0,"1, 2, 3, 4, 5, 6, 7, 12, 13, 16, 17, 18, 19, 2...","1, 1",...,5,5,1,1,1,"3, 4, 5","3, 4, 5","3, 5","3, 5, 19",1692
1,1412130572,1인가구,외벌이,아파트,80m²(24평) 이하,순천시,아니오,0,"1, 2, 3, 6, 7, 8, 9, 10, 13, 17, 18, 20, 25, 28","1, 0",...,"1, 3",0,0,0,0,3,3,3,3,2912
2,1412140632,2~3인 가구,외벌이,아파트,116m²(35평) 이하,순천시,아니오,0,"1, 2, 3, 5, 6, 7, 8, 10, 11, 12, 13, 16, 17, 1...","4, 7",...,19,19,1,1,1,19,19,5,"5, 19",7817
3,1210230279,2~3인 가구,맞벌이,아파트,116m²(35평) 이하,나주시,아니오,0,"1, 2, 7, 8, 10, 12, 13, 15, 16, 17, 18, 20, 25...","0, 0",...,0,1,1,1,1,0,0,0,0,3252
4,1412130542,4인 이상,맞벌이,아파트,80m²(24평) 이하,순천시,아니오,0,"2, 6, 7, 10, 13, 16, 17, 18, 19, 20, 21, 27, 2...","2, 4",...,19,19,0,0,0,19,19,19,19,3624
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,2397310011,2~3인 가구,노령(상주),단독주택,116m²(35평) 초과,목포시,아니오,0,"1,2,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20...","3,6",...,0,0,1,1,1,5,5,5,0,421
2496,1592191125,2~3인 가구,맞벌이,아파트,80m²(24평) 이하,여수시,아니오,0,"1, 2, 3, 5, 7, 10, 12, 13, 15, 17, 18, 19, 20,...","0, 0",...,19,0,0,0,"1, 19",0,0,"5, 19",5,2661
2497,2510005075,2~3인 가구,외벌이,단독주택,80m²(24평) 이하,여수시,아니오,0,"1,2,5,7,10,12,13,20,21,25","0,0",...,0,0,1,1,0,0,0,0,5,6588
2498,1412140695,2~3인 가구,맞벌이,아파트,116m²(35평) 이하,순천시,아니오,0,"1, 2, 3, 6, 7, 8, 10, 11, 12, 13, 15, 16, 17, ...","2, 5",...,3,19,1,1,1,19,19,19,3,4874
2499,1512190249,1인가구,노령(상주),아파트,80m²(24평) 이하,여수시,아니오,0,"1, 2, 5, 7, 8, 10, 12, 13, 16, 17, 18, 20, 21, 27","0, 0",...,0,0,1,1,0,0,0,0,5,2737

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 30 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        2500 non-null   int64
 1   memberNo                  2500 non-null   object
 2   jobType                   2500 non-null   object
 3   houseType                 2500 non-null   object
 4   houseArea                 2500 non-null   object
 5   location                  2500 non-null   object
 6   covidEffect               2500 non-null   object
 7   covidPeriod               2500 non-null   int64
 8   electricalAppliances      2500 non-null   object
 9   computerUsageTime         2500 non-null   object
 10  tvUsageTime               2500 non-null   object
 11  airconWithHeatUsageTime   2500 non-null   object
 12  airconUsageTime           2500 non-null   object
 13  heaterUsageTime           2500 non-null   object
 14  elecStoveUsageTime        2500 non-null   object
 15  elecBlanketUsageTime      2500 non-null   object
 16  airFryerUsageTimePerWeek  2500 non-null   float64
 17  month1                    2500 non-null   object
 18  month2                    2500 non-null   object
 19  month3                    2500 non-null   object
 20  month4                    2500 non-null   object
 21  month5                    2500 non-null   object
 22  month6                    2500 non-null   object
 23  month7                    2500 non-null   object
 24  month8                    2500 non-null   object
 25  month9                    2500 non-null   object
 26  month10                   2500 non-null   object
 27  month11                   2500 non-null   object
 28  month12                   2500 non-null   object
 29  power                     2500 non-null   int64
dtypes: float64(1), int64(3), object(26)
memory usage: 586.1+ KB

In [5]:
data.describe()

                 id  covidPeriod  airFryerUsageTimePerWeek         power
count  2.500000e+03  2500.000000               2500.000000   2500.000000
mean   1.736720e+09     4.347200                  0.804400   5359.093600
std    5.098884e+08    38.364444                  1.463972   2866.337121
min    1.110100e+09     0.000000                  0.000000     58.000000
25%    1.412060e+09     0.000000                  0.000000   3333.250000
50%    1.512090e+09     0.000000                  0.000000   4789.500000
75%    2.397440e+09     0.000000                  1.000000   7087.250000
max    2.598440e+09   730.000000                 30.000000  44481.000000

## 2. 데이터 전처리 수행

In [6]:
from sklearn.preprocessing import LabelEncoder

In [7]:
memberNo_le = LabelEncoder()
data['memberNo'] = memberNo_le.fit_transform(data['memberNo'])

In [8]:
memberNo_le.classes_

array(['1인가구', '2~3인 가구', '4인 이상'], dtype=object)

In [9]:
jobType_le = LabelEncoder()
data['jobType'] = jobType_le.fit_transform(data['jobType'])

In [10]:
houseType_le = LabelEncoder()
data['houseType'] = houseType_le.fit_transform(data['houseType'])

In [11]:
houseArea_le = LabelEncoder()
data['houseArea'] = houseArea_le.fit_transform(data['houseArea'])

In [12]:
location_le = LabelEncoder()
data['location'] = location_le.fit_transform(data['location'])

In [13]:
covidEffect_le = LabelEncoder()
data['covidEffect'] = covidEffect_le.fit_transform(data['covidEffect'])

In [14]:
covidEffect_le.classes_

array(['아니오', '온라인 학습', '재택근무'], dtype=object)

In [15]:
data.columns

Index(['id', 'memberNo', 'jobType', 'houseType', 'houseArea', 'location',
       'covidEffect', 'covidPeriod', 'electricalAppliances',
       'computerUsageTime', 'tvUsageTime', 'airconWithHeatUsageTime',
       'airconUsageTime', 'heaterUsageTime', 'elecStoveUsageTime',
       'elecBlanketUsageTime', 'airFryerUsageTimePerWeek', 'month1', 'month2',
       'month3', 'month4', 'month5', 'month6', 'month7', 'month8', 'month9',
       'month10', 'month11', 'month12', 'power'],
      dtype='object')

In [16]:
data

,id,memberNo,jobType,houseType,houseArea,location,covidEffect,covidPeriod,electricalAppliances,computerUsageTime,...,month4,month5,month6,month7,month8,month9,month10,month11,month12,power
0,1512160175,0,2,2,2,4,0,0,"1, 2, 3, 4, 5, 6, 7, 12, 13, 16, 17, 18, 19, 2...","1, 1",...,5,5,1,1,1,"3, 4, 5","3, 4, 5","3, 5","3, 5, 19",1692
1,1412130572,0,2,2,2,3,0,0,"1, 2, 3, 6, 7, 8, 9, 10, 13, 17, 18, 20, 25, 28","1, 0",...,"1, 3",0,0,0,0,3,3,3,3,2912
2,1412140632,1,2,2,0,3,0,0,"1, 2, 3, 5, 6, 7, 8, 10, 11, 12, 13, 16, 17, 1...","4, 7",...,19,19,1,1,1,19,19,5,"5, 19",7817
3,1210230279,1,1,2,0,1,0,0,"1, 2, 7, 8, 10, 12, 13, 15, 16, 17, 18, 20, 25...","0, 0",...,0,1,1,1,1,0,0,0,0,3252
4,1412130542,2,1,2,2,3,0,0,"2, 6, 7, 10, 13, 16, 17, 18, 19, 20, 21, 27, 2...","2, 4",...,19,19,0,0,0,19,19,19,19,3624
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,2397310011,1,0,0,1,2,0,0,"1,2,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20...","3,6",...,0,0,1,1,1,5,5,5,0,421
2496,1592191125,1,1,2,2,4,0,0,"1, 2, 3, 5, 7, 10, 12, 13, 15, 17, 18, 19, 20,...","0, 0",...,19,0,0,0,"1, 19",0,0,"5, 19",5,2661
2497,2510005075,1,2,0,2,4,0,0,"1,2,5,7,10,12,13,20,21,25","0,0",...,0,0,1,1,0,0,0,0,5,6588
2498,1412140695,1,1,2,0,3,0,0,"1, 2, 3, 6, 7, 8, 10, 11, 12, 13, 15, 16, 17, ...","2, 5",...,3,19,1,1,1,19,19,19,3,4874
2499,1512190249,0,0,2,2,4,0,0,"1, 2, 5, 7, 8, 10, 12, 13, 16, 17, 18, 20, 21, 27","0, 0",...,0,0,1,1,0,0,0,0,5,2737

In [17]:
data = data.drop(labels=['electricalAppliances','month1', 'month2','month3', 'month4', 'month5', 'month6', 'month7', 'month8', 'month9','month10', 'month11', 'month12'],axis=1)

In [18]:
data

,id,memberNo,jobType,houseType,houseArea,location,covidEffect,covidPeriod,computerUsageTime,tvUsageTime,airconWithHeatUsageTime,airconUsageTime,heaterUsageTime,elecStoveUsageTime,elecBlanketUsageTime,airFryerUsageTimePerWeek,power
0,1512160175,0,2,2,2,4,0,0,"1, 1","3, 5","0, 0, 0, 0","2, 4","3, 5","1, 1","5, 5",2.0,1692
1,1412130572,0,2,2,2,3,0,0,"1, 0","3, 4","0, 0, 0, 0","3, 3","10, 10","0, 0","0, 0",0.0,2912
2,1412140632,1,2,2,0,3,0,0,"4, 7","3, 6","0, 0, 0, 0","5, 7","0, 0","0, 0","6, 8",4.0,7817
3,1210230279,1,1,2,0,1,0,0,"0, 0","4, 12","0, 0, 0, 0","7, 4","0, 0","0, 0","0, 0",0.0,3252
4,1412130542,2,1,2,2,3,0,0,"2, 4","3, 6","0, 0, 0, 0","0, 0","0, 0","0, 0","0, 0",1.0,3624
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,2397310011,1,0,0,1,2,0,0,"3,6","5,8","0,0,0,0","6,10","0,0","0,0","0,0",2.0,421
2496,1592191125,1,1,2,2,4,0,0,"0, 0","0, 4","2, 0, 0, 0","0, 2","0, 0","0, 0","0, 0",2.0,2661
2497,2510005075,1,2,0,2,4,0,0,"0,0","3,3","0,0,0,0","2,3","0,0","0,0","0,0",0.0,6588
2498,1412140695,1,1,2,0,3,0,0,"2, 5","3, 7","0, 0, 0, 0","3, 6","2, 3","0, 0","0, 0",2.0,4874
2499,1512190249,0,0,2,2,4,0,0,"0, 0","5, 5","0, 0, 0, 0","2, 2","0, 0","0, 0","8, 8",0.0,2737

for target in target_list:
    data[target] = data[target].apply(lambda x: len(json.loads(x)))

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        2500 non-null   int64
 1   memberNo                  2500 non-null   int32
 2   jobType                   2500 non-null   int32
 3   houseType                 2500 non-null   int32
 4   houseArea                 2500 non-null   int32
 5   location                  2500 non-null   int32
 6   covidEffect               2500 non-null   int32
 7   covidPeriod               2500 non-null   int64
 8   computerUsageTime         2500 non-null   object
 9   tvUsageTime               2500 non-null   object
 10  airconWithHeatUsageTime   2500 non-null   object
 11  airconUsageTime           2500 non-null   object
 12  heaterUsageTime           2500 non-null   object
 13  elecStoveUsageTime        2500 non-null   object
 14  elecBlanketUsageTime      2500 non-null   object
 15  airFryerUsageTimePerWeek  2500 non-null   float64
 16  power                     2500 non-null   int64
dtypes: float64(1), int32(6), int64(3), object(7)
memory usage: 273.6+ KB

In [20]:
data

,id,memberNo,jobType,houseType,houseArea,location,covidEffect,covidPeriod,computerUsageTime,tvUsageTime,airconWithHeatUsageTime,airconUsageTime,heaterUsageTime,elecStoveUsageTime,elecBlanketUsageTime,airFryerUsageTimePerWeek,power
0,1512160175,0,2,2,2,4,0,0,"1, 1","3, 5","0, 0, 0, 0","2, 4","3, 5","1, 1","5, 5",2.0,1692
1,1412130572,0,2,2,2,3,0,0,"1, 0","3, 4","0, 0, 0, 0","3, 3","10, 10","0, 0","0, 0",0.0,2912
2,1412140632,1,2,2,0,3,0,0,"4, 7","3, 6","0, 0, 0, 0","5, 7","0, 0","0, 0","6, 8",4.0,7817
3,1210230279,1,1,2,0,1,0,0,"0, 0","4, 12","0, 0, 0, 0","7, 4","0, 0","0, 0","0, 0",0.0,3252
4,1412130542,2,1,2,2,3,0,0,"2, 4","3, 6","0, 0, 0, 0","0, 0","0, 0","0, 0","0, 0",1.0,3624
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,2397310011,1,0,0,1,2,0,0,"3,6","5,8","0,0,0,0","6,10","0,0","0,0","0,0",2.0,421
2496,1592191125,1,1,2,2,4,0,0,"0, 0","0, 4","2, 0, 0, 0","0, 2","0, 0","0, 0","0, 0",2.0,2661
2497,2510005075,1,2,0,2,4,0,0,"0,0","3,3","0,0,0,0","2,3","0,0","0,0","0,0",0.0,6588
2498,1412140695,1,1,2,0,3,0,0,"2, 5","3, 7","0, 0, 0, 0","3, 6","2, 3","0, 0","0, 0",2.0,4874
2499,1512190249,0,0,2,2,4,0,0,"0, 0","5, 5","0, 0, 0, 0","2, 2","0, 0","0, 0","8, 8",0.0,2737

In [21]:
import re

In [22]:
# 전자기기 사용한 시간 정보는 모두 합쳐서 계산
def catch_sum(str):
    try:
        numbers_list = re.findall(r'\d+', str)
        numbers_list = [int(num) for num in numbers_list]
        result = sum(numbers_list)

        return result
        
    except:
        print(str)
        result = None
        return result

In [23]:
for i in ['computerUsageTime','tvUsageTime','airconWithHeatUsageTime','airconUsageTime','heaterUsageTime','elecStoveUsageTime','elecBlanketUsageTime']:
    data[i] = data[i].apply(catch_sum)

In [25]:
data[['memberNo', 'jobType', 'houseType', 'houseArea', 'location', 'covidEffect', 'covidPeriod']] = data[['memberNo', 'jobType', 'houseType', 'houseArea', 'location', 'covidEffect', 'covidPeriod']].astype(int)

In [26]:
data

,id,memberNo,jobType,houseType,houseArea,location,covidEffect,covidPeriod,computerUsageTime,tvUsageTime,airconWithHeatUsageTime,airconUsageTime,heaterUsageTime,elecStoveUsageTime,elecBlanketUsageTime,airFryerUsageTimePerWeek,power
0,1512160175,0,2,2,2,4,0,0,2,8,0,6,8,2,10,2.0,1692
1,1412130572,0,2,2,2,3,0,0,1,7,0,6,20,0,0,0.0,2912
2,1412140632,1,2,2,0,3,0,0,11,9,0,12,0,0,14,4.0,7817
3,1210230279,1,1,2,0,1,0,0,0,16,0,11,0,0,0,0.0,3252
4,1412130542,2,1,2,2,3,0,0,6,9,0,0,0,0,0,1.0,3624
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,2397310011,1,0,0,1,2,0,0,9,13,0,16,0,0,0,2.0,421
2496,1592191125,1,1,2,2,4,0,0,0,4,2,2,0,0,0,2.0,2661
2497,2510005075,1,2,0,2,4,0,0,0,6,0,5,0,0,0,0.0,6588
2498,1412140695,1,1,2,0,3,0,0,7,10,0,9,5,0,0,2.0,4874
2499,1512190249,0,0,2,2,4,0,0,0,10,0,4,0,0,16,0.0,2737

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        2500 non-null   int64
 1   memberNo                  2500 non-null   int32
 2   jobType                   2500 non-null   int32
 3   houseType                 2500 non-null   int32
 4   houseArea                 2500 non-null   int32
 5   location                  2500 non-null   int32
 6   covidEffect               2500 non-null   int32
 7   covidPeriod               2500 non-null   int64
 8   computerUsageTime         2500 non-null   int64
 9   tvUsageTime               2500 non-null   int64
 10  airconWithHeatUsageTime   2500 non-null   int64
 11  airconUsageTime           2500 non-null   int64
 12  heaterUsageTime           2500 non-null   int64
 13  elecStoveUsageTime        2500 non-null   int64
 14  elecBlanketUsageTime      2500 non-null   int64
 15  airFryerUsageTimePerWeek  2500 non-null   float64
 16  power                     2500 non-null   int64
dtypes: float64(1), int32(6), int64(10)
memory usage: 273.6 KB

## 3. 학습셋과 검증셋 나누기

In [27]:
from sklearn.model_selection import train_test_split

In [28]:
X = data.drop(labels='power',axis=1)
Y = data['power']

In [29]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state=100)

## 4. 알고리즘 선택 및 모델 학습

In [30]:
from sklearn.linear_model import LinearRegression

In [31]:
model = LinearRegression()

In [32]:
model.fit(X_train, Y_train)

LinearRegression()

## 5. 모델을 통한 검증 데이터 예측 수행

In [33]:
import math

In [35]:
pred = model.predict(X_test)

In [36]:
pred

array([5386.13465931, 5762.25394795, 5778.12869739, 5799.59304338,
       5202.10802786, 4828.43674986, 4448.61079543, 5244.47317996,
       4969.117264  , 6159.01403881, 2219.08068528, 4842.54912096,
       4418.58726339, 6147.71079768, 6082.3400372 , 7717.94950888,
       5145.03774877, 5270.03114685, 5782.13562337, 7644.6019779 ,
       6127.05795177, 8550.67552602, 4616.92636252, 5101.26683004,
       1945.25183165, 8725.9393672 , 3798.1141614 , 6043.1260414 ,
       4733.72708196, 6631.87177232, 4742.95739395, 5533.24911243,
       7459.34994842, 7133.59475416, 4131.40626935, 8138.56181421,
       5996.75528862, 5574.25182892, 4488.80103492, 4276.5416854 ,
       5258.48160637, 3228.14921349, 6131.16704665, 6978.66570483,
       6805.18728636, 5563.14355473, 6542.8293459 , 6197.52025243,
       3357.09697983, 5898.94523448, 7523.67039684, 2138.23102409,
       4802.41975214, 4734.06013973, 4941.58923964, 6108.65237034,
       7570.54359258, 6886.38232607, 5782.2711834 , 5674.57594865,
       6695.32162733, 5440.37609322, 2125.14694557, 5689.92145314,
       5998.04744579, 6157.4791155 , 4939.6615803 , 6553.97623815,
       5624.38677625, 5679.48850786, 6042.45733235, 6191.50948698,
       6094.08536087, 5268.68428588, 5185.19036596, 4410.94751523,
       3693.96221927, 6295.86796691, 2443.92009459, 2450.3708591 ,
       5655.62585579, 4315.2624997 , 1817.00921539, 5810.95919803,
       5250.84654202, 5835.12694749, 6977.62631045, 2403.47590709,
       6147.99321847, 4238.65657836, 5766.0308284 , 6489.66226184,
       6481.72504827, 6147.69598266, 5563.23057256, 5023.1611407 ,
       4777.30867886, 3913.23367241, 4425.79537459, 6839.25060289,
       4425.83803722, 4274.53600036, 5626.95307764, 6448.8937581 ,
       4462.34517491, 7249.16251132, 5206.36671722, 6130.12075293,
       6362.18398469, 5284.29586746, 7866.62139697, 6430.19899548,
       4232.46084612, 6481.2686975 , 4405.58718105, 5555.64454588,
       6722.6676123 , 8083.45292947, 4832.57015288, 5973.66086139,
       6110.77685778, 6283.71966807, 5947.43061304, 5582.24701384,
       8063.76341494, 3353.09452971, 5936.66665005, 5277.39946263,
       3427.17259328, 3823.40966797, 5316.41043927, 4251.51937939,
       4758.56722389, 3438.90147318, 2888.83562085, 4625.16453735,
       4979.98036988, 6507.02117291, 7113.40894558, 4745.22276015,
       4604.53793609, 5813.80789583, 4836.71655108, 6460.97705279,
       7128.60934693, 5585.75484097, 8955.21788991, 4781.67821677,
       2436.35826927, 6418.67417329, 1353.14392866, 4699.46249258,
       6822.7701095 , 7171.95099627, 4453.66049692, 4685.36793468,
       4312.22502456, 4359.05851784, 7442.64378459, 6177.09344073,
       4917.38498392, 6992.31171705, 6141.41522056, 4578.36339572,
       5552.26684298, 3564.78306663, 6404.36726474, 5686.40349575,
       5774.6764575 , 2480.00722495, 7831.88069626, 5134.71790451,
       3656.63300533, 7411.86466796, 3246.59187361, 2553.33600607,
       6957.50993854, 5199.07806499, 4329.16105307, 7155.6438407 ,
       3347.09427509, 6111.81799735, 4398.64830498, 5802.38344757,
       6399.22741011, 6192.9438004 , 5420.16632274, 6522.20685508,
       7172.66872123, 6414.53453714, 6090.33082841, 4489.90680231,
       3304.11056697, 5074.59345254, 6213.04392706, 3291.53397869,
       5500.33026553, 1941.90144814, 3732.77113532, 6047.94761696,
       3823.81340728, 3342.08111313, 6118.939179  , 5428.58675492,
       4444.98787379, 5206.15141848, 6051.42314573, 5908.69268838,
       4433.96885826, 5447.20050416, 5857.56106837, 6061.24916797,
       4561.23925625, 6504.826082  , 4898.49022341, 5676.11052257,
       5422.8354671 , 6188.29120805, 5885.58244598, 6038.61460869,
       6185.52159215, 6111.88485054, 5229.71857084, 6167.47734031,
       4349.36057569, 4623.93030621, 6103.9105628 , 5865.11338321,
       6184.16236276, 6452.45361698, 6134.20203743, 5218.07472848,
       6410.98580045, 6011.61514475, 4748.52075132, 7658.07039028,
       5818.49833655, 4154.03028278, 5202.01409443, 6223.06465404,
       8071.59831343, 6017.71882649, 4950.19301268, 5158.73010596,
       5516.71914095, 3105.20784906, 7295.91992859, 6175.29492699,
       3671.59809036, 5191.8122375 , 4770.74057577, 6480.35568164,
       4400.96733462, 5378.40430063, 7141.92362006, 5743.49779111,
       7014.40732574, 4192.19268935, 6005.22218725, 6077.10415788,
       5602.74617225, 5156.56382985, 7441.40230095, 3434.70649473,
       6798.47417148, 6601.37847265, 6516.41565203, 5394.07862739,
       5369.55721075, 4568.78626478, 6524.79381415, 4192.70509443,
       4264.88185311, 7647.51654755, 7359.27591593, 8042.46231834,
       6016.09590412, 5173.40713789, 6606.46989919, 6235.28489606,
       6480.71495033, 6853.82789667, 7950.32538337, 4878.21252246,
       5982.32204833, 5850.25644524, 6398.62095573, 6147.99305218,
       4308.71487138, 5226.65958662, 3303.22291634, 6783.40917228,
       6125.17497108, 4635.95357886, 3216.55339839, 6108.59278064,
       7156.1717938 , 3311.4429144 , 3538.23384155, 5817.01601494,
       6327.11236316, 6893.99717503, 4234.13963913, 7634.79832061,
       6742.377142  , 5157.7245537 , 5654.41139488, 5666.27816939,
       6453.14292848, 5117.2710199 , 1895.98225963, 4657.46288964,
       6242.58801504, 6259.75168567, 6395.76231099, 4971.98296513,
       4701.5281305 , 6334.67307338, 5780.697237  , 4923.39577475,
       5247.02672469, 4767.10726147, 6369.45166373, 6578.77870869,
       5509.23826207, 6672.93340793, 7468.36741648, 5716.38850983,
       5725.86687175, 3236.36928749, 6508.18603243, 3252.25447742,
       6082.34002384, 6268.19882375, 5680.24072699, 6956.8749109 ,
       5639.77110346, 3044.14898171, 4241.24107397, 6134.55466526,
       6213.86670286, 4716.30606234, 6241.0010119 , 4928.52868047,
       6330.35669155, 2132.32918701, 7002.64250831, 8217.22942141,
       3533.69424336, 5776.76879109, 6179.8567102 , 5833.85910223,
       4985.11415055, 4351.17522996, 7890.35158525, 5019.65175491,
       5699.62260597, 4820.45577945, 5403.97700548, 5090.64820336,
       4661.51042067, 6303.69196903, 4864.68253227, 5527.10737676,
       7055.7175574 , 3769.47601169, 7373.00169509, 4866.65180879,
       6326.76260905, 6346.5471447 , 3465.64672213, 6978.67301286,
       5990.14342213, 5801.31829012, 8148.33548787, 3441.78483987,
       6815.96106686, 2056.97586715, 5596.4717059 , 4722.82035711,
       7364.84322849, 8142.05596356, 5467.9826521 , 8447.38601854,
       5284.25415705, 5143.86769117, 6087.77400094, 3337.18349883,
       5693.30244085, 6740.70011444, 5980.12133248, 4994.08786475,
       4558.73014123, 4105.35354362, 6283.85186095, 4478.26754911,
       4746.95418882, 3885.84644643, 7077.65525205, 4873.55715657,
       2616.70196096, 4599.17440402, 5084.3443595 , 3324.23964151,
       3065.42493354, 6265.43362193, 6363.03033954, 5782.56486453,
       6666.52472041, 4688.37885731, 3081.30323775, 3528.21944833,
       5701.51121028, 7457.61405282, 3766.97579128, 4043.11977969,
       5983.67854492, 5979.36208913, 6249.24187167, 5755.62670107,
       7513.22216126, 5328.74265314, 6414.77493057, 6143.86318218,
       5393.59809074, 5515.11003028, 5436.0498263 , 5376.67153468,
       7495.98708398, 4345.94354034, 6529.16830933, 4419.10118485,
       5856.54209599, 6885.0605958 , 3253.04388544, 6490.38338407,
       4577.62252752, 5155.66578716, 4794.30323897, 5487.92440653,
       4450.68446418, 7116.02036671, 5708.18419559, 4246.83695321,
       5234.65028414, 5910.48088425, 6387.13178905, 6206.67194554,
       4317.62611566, 5812.77960783, 4769.27763551, 5986.66884196,
       2784.87246245, 5466.60717683, 7319.93528889, 2086.92710606,
       4621.73155923, 6197.60803227, 5634.17366223, 1879.4739638 ,
       6403.05545872, 3442.62709545, 4675.89319599, 5594.39790251,
       2442.22737954, 6078.225138  , 5396.09150683, 5990.47397905,
       5124.31515413, 8250.82002421, 5081.3619105 , 6798.59413434,
       6326.09527045, 6243.22023265, 7238.9329965 , 4572.67757941,
       4361.17954511, 6306.30481034, 6964.49869087, 5920.47446047,
       2403.5384686 , 4859.12227337, 6516.92013369, 6069.22467199,
       5524.56269832, 6740.00411197, 4805.53532251, 5951.63462935,
       5697.5888181 , 6819.21256621, 5804.36082292, 5031.38646514,
       6522.88645557, 4543.25763722, 4940.4240097 , 6978.65080369,
       6088.70865645, 4546.4547969 , 4268.29240719, 6070.07075114])

In [37]:
preds = [math.ceil(pred) for pred in pred]

In [39]:
model.score(X_test, Y_test)

0.20756499612481283

In [40]:
from sklearn.metrics import mean_squared_error

In [41]:
mean_squared_error(Y_test, pred, squared = False)

2224.0580853957067

## 6. 테스트 데이터 예측하기

In [42]:
test_data = pd.read_csv('./test.csv')

In [43]:
test_data

,id,memberNo,jobType,houseType,houseArea,location,covidEffect,covidPeriod,electricalAppliances,computerUsageTime,...,month3,month4,month5,month6,month7,month8,month9,month10,month11,month12
0,1111210036,2~3인 가구,외벌이,아파트,116m²(35평) 이하,광양시,아니오,0,"1, 2, 3, 6, 7, 8, 10, 12, 13, 16, 17, 18, 20, ...","2, 3",...,0,0,0,1,1,1,1,1,3,3
1,1111210040,2~3인 가구,맞벌이,아파트,116m²(35평) 이하,광양시,아니오,0,"1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 16...","1, 0",...,0,0,3,0,0,1,1,1,1,3
2,1111220059,4인 이상,외벌이,아파트,116m²(35평) 이하,광양시,아니오,0,"1, 6, 8, 10, 11, 13, 14, 17, 18, 19, 20, 21, 2...","5, 5",...,0,0,0,1,1,1,0,0,0,0
3,1111220069,4인 이상,맞벌이,아파트,116m²(35평) 이하,광양시,아니오,0,"1, 2, 6, 7, 8, 9, 10, 11, 12, 13, 17, 18, 19, ...","1, 2",...,19,19,19,1,1,1,0,0,0,0
4,1111220072,4인 이상,맞벌이,아파트,116m²(35평) 이하,광양시,아니오,0,"1, 2, 5, 6, 7, 8, 10, 12, 13, 17, 18, 19, 20, ...","5, 10",...,5,5,1,1,1,1,1,1,"1, 5",5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
535,2598385003,2~3인 가구,맞벌이,단독주택,80m²(24평) 이하,여수시,아니오,0,"1,2,7,10,13,16,17,18,20,25,27","0,0",...,0,0,0,1,1,0,0,0,0,0
536,2598395022,2~3인 가구,외벌이,단독주택,80m²(24평) 이하,여수시,아니오,0,"2,7,10,13,16,17,18,20,27","0,0",...,0,0,0,0,0,0,0,0,0,0
537,2598430260,2~3인 가구,맞벌이,단독주택,80m²(24평) 이하,여수시,아니오,0,"2,5,7,10,13,16,20","0,0",...,0,0,0,0,0,0,0,0,0,5
538,2598430301,2~3인 가구,맞벌이,단독주택,80m²(24평) 이하,여수시,아니오,0,"1,2,7,8,10,13,18,20,21,27,28","0,0",...,0,0,0,1,1,0,0,0,0,0
539,2598435083,2~3인 가구,맞벌이,단독주택,80m²(24평) 이하,여수시,아니오,0,"1,2,7,10,13,16,17,18,20,27","0,0",...,0,0,0,1,1,0,0,0,0,0

In [44]:
test_data['memberNo'] = memberNo_le.transform(test_data['memberNo'])

In [45]:
test_data['jobType'] = jobType_le.transform(test_data['jobType'])

In [46]:
test_data['houseType'] = houseType_le.transform(test_data['houseType'])

In [47]:
test_data['houseArea'] = houseArea_le.transform(test_data['houseArea'])

In [48]:
test_data['location'] = location_le.transform(test_data['location'])

In [49]:
test_data['covidEffect'] = covidEffect_le.transform(test_data['covidEffect'])

In [50]:
test_data

,id,memberNo,jobType,houseType,houseArea,location,covidEffect,covidPeriod,electricalAppliances,computerUsageTime,...,month3,month4,month5,month6,month7,month8,month9,month10,month11,month12
0,1111210036,1,2,2,0,0,0,0,"1, 2, 3, 6, 7, 8, 10, 12, 13, 16, 17, 18, 20, ...","2, 3",...,0,0,0,1,1,1,1,1,3,3
1,1111210040,1,1,2,0,0,0,0,"1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 16...","1, 0",...,0,0,3,0,0,1,1,1,1,3
2,1111220059,2,2,2,0,0,0,0,"1, 6, 8, 10, 11, 13, 14, 17, 18, 19, 20, 21, 2...","5, 5",...,0,0,0,1,1,1,0,0,0,0
3,1111220069,2,1,2,0,0,0,0,"1, 2, 6, 7, 8, 9, 10, 11, 12, 13, 17, 18, 19, ...","1, 2",...,19,19,19,1,1,1,0,0,0,0
4,1111220072,2,1,2,0,0,0,0,"1, 2, 5, 6, 7, 8, 10, 12, 13, 17, 18, 19, 20, ...","5, 10",...,5,5,1,1,1,1,1,1,"1, 5",5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
535,2598385003,1,1,0,2,4,0,0,"1,2,7,10,13,16,17,18,20,25,27","0,0",...,0,0,0,1,1,0,0,0,0,0
536,2598395022,1,2,0,2,4,0,0,"2,7,10,13,16,17,18,20,27","0,0",...,0,0,0,0,0,0,0,0,0,0
537,2598430260,1,1,0,2,4,0,0,"2,5,7,10,13,16,20","0,0",...,0,0,0,0,0,0,0,0,0,5
538,2598430301,1,1,0,2,4,0,0,"1,2,7,8,10,13,18,20,21,27,28","0,0",...,0,0,0,1,1,0,0,0,0,0
539,2598435083,1,1,0,2,4,0,0,"1,2,7,10,13,16,17,18,20,27","0,0",...,0,0,0,1,1,0,0,0,0,0

In [51]:
test_data = test_data.drop(labels=['electricalAppliances','month1', 'month2','month3', 'month4', 'month5', 'month6', 'month7', 'month8', 'month9','month10', 'month11', 'month12'],axis=1)

In [52]:
for i in ['computerUsageTime','tvUsageTime','airconWithHeatUsageTime','airconUsageTime','heaterUsageTime','elecStoveUsageTime','elecBlanketUsageTime']:
    test_data[i] = test_data[i].apply(catch_sum)

In [50]:
test_data[['memberNo', 'jobType', 'houseType', 'houseArea', 'location', 'covidEffect', 'covidPeriod']] = test_data[['memberNo', 'jobType', 'houseType', 'houseArea', 'location', 'covidEffect', 'covidPeriod']].astype(int)

In [53]:
test_data

,id,memberNo,jobType,houseType,houseArea,location,covidEffect,covidPeriod,computerUsageTime,tvUsageTime,airconWithHeatUsageTime,airconUsageTime,heaterUsageTime,elecStoveUsageTime,elecBlanketUsageTime,airFryerUsageTimePerWeek
0,1111210036,1,2,2,0,0,0,0,5,10,0,12,2,0,0,0.0
1,1111210040,1,1,2,0,0,0,0,1,8,0,48,2,0,0,1.0
2,1111220059,2,2,2,0,0,0,0,10,0,0,30,0,0,0,2.0
3,1111220069,2,1,2,0,0,0,0,3,7,0,18,0,0,0,1.0
4,1111220072,2,1,2,0,0,0,0,15,16,0,10,0,0,16,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
535,2598385003,1,1,0,2,4,0,0,0,5,0,4,0,0,0,0.0
536,2598395022,1,2,0,2,4,0,0,0,6,0,0,0,0,0,0.0
537,2598430260,1,1,0,2,4,0,0,0,4,0,0,0,0,0,0.0
538,2598430301,1,1,0,2,4,0,0,0,4,0,3,0,0,0,0.0
539,2598435083,1,1,0,2,4,0,0,0,5,0,3,0,0,0,0.0

In [54]:
test_pred = model.predict(test_data)

In [55]:
test_pred

array([5328.06593082, 5963.19710885, 6864.63776463, 6700.30625343,
       6470.28927164, 4858.2411499 , 6532.23447279, 6595.58118582,
       6601.39983221, 5318.40255073, 6173.68581307, 5078.06897179,
       5954.62345187, 6327.35160113, 4618.51731731, 6907.84149914,
       5145.63667781, 7062.37536799, 6817.59231487, 6592.17282256,
       6634.13070663, 7402.45481196, 7472.78191025, 6228.8192349 ,
       6249.12227438, 7149.52228014, 7408.26022263, 6323.51221202,
       5959.20225554, 6704.72226701, 7199.2447644 , 6712.3707762 ,
       6645.85830307, 5110.40395293, 6355.44201654, 6683.84280918,
       7174.19530243, 6563.17882734, 5305.15900539, 5280.37643487,
       5003.91564033, 6383.02138596, 5103.92172025, 6267.19674225,
       3876.04600267, 5193.07641043, 4812.13936866, 4977.34579354,
       5000.14279474, 4972.71571468, 7018.09036964, 6223.00278631,
       4930.25111905, 5509.55482217, 3651.53741457, 5165.90055769,
       6385.89731626, 5005.85671758, 4222.32660393, 5186.04627364,
       5153.26748342, 6323.43612799, 5031.66486816, 5463.89430175,
       5175.9871666 , 5190.3848451 , 5538.46370173, 6152.13343747,
       6702.5794081 , 5111.15021676, 4158.41836069, 6069.00871337,
       3672.16933036, 2287.61035044, 2470.10504734, 2443.60065334,
       3650.05489012, 5876.49758245, 5762.75673418, 4767.7256506 ,
       6161.51508291, 6069.38179249, 6324.57146684, 6282.53592073,
       4177.82519308, 3710.92938764, 6392.03360596, 5845.44772737,
       4579.50824389, 4044.48372471, 1766.32199872, 3696.42794818,
       2710.77790611, 6017.91813743, 5830.09084427, 4470.74474739,
       4492.60850943, 4753.99372139, 4489.02351949, 4978.99623646,
       4550.03086682, 6013.53459568, 4556.25699632, 5638.67766714,
       5980.62233853, 6704.95382597, 5202.17801312, 5725.63065709,
       5673.30548322, 5745.50886436, 6084.90287705, 5834.52976842,
       4739.0599532 , 5730.1325316 , 5930.15513099, 4497.58163872,
       5658.29564565, 6002.14134181, 4615.47364171, 4643.31763428,
       5649.01882565, 4635.87373262, 5100.33334632, 4339.0854254 ,
       6005.61433626, 5631.80578663, 4641.53093604, 6769.72292274,
       6540.19535336, 4560.50042927, 5184.39842409, 4920.88121468,
       4403.47396736, 5312.44135885, 5822.13689785, 5630.14860679,
       5869.91497779, 5886.92137674, 4879.81836653, 5498.84137368,
       5284.85039723, 6326.90371706, 7377.19267957, 3514.03057056,
       5738.44704596, 2264.39134081, 5841.31923763, 4462.36648234,
       6811.08636333, 4741.40782319, 6076.23603912, 5931.1963037 ,
       4581.96742066, 4061.9704054 , 3449.41388724, 4686.61770457,
       4557.92074797, 4838.61258684, 2299.95985465, 3424.53975415,
       5866.43303121, 3451.70687138, 2186.8588811 , 5544.62173051,
       5919.64506362, 5886.12406574, 4913.96204557, 5601.61544123,
       4579.79509181, 4924.70685843, 4581.32881885, 6025.95091046,
       6320.57612671, 3607.74936981, 5860.13105264, 6052.78414919,
       5656.89254676, 5795.21809015, 4913.35839952, 4924.64857787,
       4780.81924337, 5781.22601575, 5612.18920327, 4375.75389862,
       4683.90096935, 4568.54539051, 6096.96741403, 6005.40847136,
       4522.39481077, 4379.19337903, 3939.31627846, 4879.25743259,
       4454.26254704, 3904.37788491, 3634.17351248, 5702.39056243,
       5981.11796476, 5752.01795405, 5754.75005162, 6094.48661984,
       5911.19257277, 4548.13336323, 6186.06004675, 5829.40176358,
       6120.43299159, 5714.23159317, 4425.84230763, 4708.06396343,
       6055.305438  , 4570.59323456, 4392.65028152, 5815.93949273,
       4647.45331748, 5664.72472468, 5985.01141929, 5805.84621162,
       6221.36107679, 6048.3962709 , 6214.72278579, 4698.21842223,
       5904.47504493, 4799.19107211, 5929.68332062, 3967.85974756,
       4800.69906842, 4990.96406897, 6047.0248948 , 6110.91579245,
       5519.84620116, 4930.47553089, 3242.87297658, 6192.3818953 ,
       6555.84107801, 4556.16306774, 4494.34210522, 4381.86968246,
       2164.89254371, 5626.53272058, 6058.2877186 , 6578.81248668,
       5876.4708321 , 6288.68154439, 5962.61035077, 4467.97920752,
       5704.64592742, 4517.80240037, 3599.4886938 , 6221.8707121 ,
       4391.27381245, 4057.72693043, 4529.58564951, 4747.03728867,
       5943.07882212, 6046.39473282, 6027.58179871, 5822.51518002,
       6166.31708538, 4453.76788962, 4547.895538  , 4088.97908397,
       5309.72859926, 5382.16251408, 6027.0691094 , 5501.86431296,
       6024.44627491, 4368.33872234, 4111.7876012 , 4234.02071285,
       6177.52713961, 3261.07930597, 3437.53247586, 2223.5318614 ,
       1914.55036997, 1950.85893086, 3082.33388477, 2537.05423392,
       1963.17868793, 2230.56223816, 3134.86410883, 3134.86411476,
       1928.45448339, 1927.67538571, 1957.21305731, 3098.38096944,
       1940.83154931, 3114.47813796, 3294.15864758, 3070.64639244,
       1472.21187138, 4251.60085049, 4650.00699192, 3109.95386155,
       3227.0456806 , 4251.44593519, 3164.98036388, 4977.73275293,
       2979.85975378, 3105.31280081, 3054.7938452 , 5574.50161032,
       5464.83537764, 3934.88999236, 5220.48971803, 4966.31540234,
       5070.23272921, 5496.78675668, 3815.4514782 , 3872.69085418,
       5715.0938392 , 4337.93350077, 4145.30026579, 4056.59346109,
       3611.40442914, 5664.50830027, 4120.4381555 , 5409.05566792,
       4215.45614913, 4257.67114357, 4296.26093093, 5528.66342004,
       5486.54082926, 5554.41082516, 5106.06961448, 4565.43669851,
       5741.68460722, 3997.64957463, 5693.44222379, 5404.03331834,
       5398.94093584, 4345.9761098 , 3369.67528447, 4112.52378965,
       4029.88326073, 5615.19340012, 5659.22413611, 4698.1544691 ,
       2067.92553291, 3124.80902744, 2007.11708796, 3478.79405986,
       4753.24463708, 3824.19973391, 1904.51705975, 2128.33495182,
       1980.91842593, 3348.07376734, 3274.73848151, 4830.3306752 ,
       3242.78957885, 3423.59715913, 3258.96124037, 1949.80042351,
       3395.8670121 , 2118.2179828 , 5878.35796495, 6798.36101787,
       5730.66971386, 5767.03212534, 6565.39251125, 5783.33875245,
       5776.6334573 , 6268.66930987, 8022.75400453, 7944.71534339,
       7050.25376222, 6980.91818292, 7112.55449138, 7009.7287011 ,
       6229.05314795, 8224.48781667, 5072.78896111, 8233.59486641,
       5252.83401273, 6446.54155079, 5901.34503191, 8309.5760312 ,
       9086.99812757, 7294.9519251 , 6900.9574891 , 7165.25664349,
       6586.42451001, 7274.57833354, 4925.95810942, 6283.30150348,
       8684.32238332, 6896.32325758, 4954.92145463, 7893.72166046,
       6860.94248867, 9178.4094666 , 7766.43135742, 6123.50005002,
       5628.27334615, 5444.57039873, 6792.00022551, 5379.17067748,
       5565.95283717, 5287.69975074, 5294.27781843, 6984.39039326,
       7110.78232684, 7009.8484645 , 7114.32438429, 5388.4088669 ,
       6678.53016257, 6537.96676123, 4965.78174278, 6494.33741608,
       7650.44496174, 5415.84873128, 5404.92006213, 5399.47542846,
       4772.53132218, 6234.51105732, 5517.62125799, 5094.8607725 ,
       5432.71364068, 6671.88643504, 5435.98261858, 5873.84665875,
       7732.70304541, 4681.21258594, 6658.8190888 , 4727.13208922,
       7710.12921147, 6704.7386099 , 6019.04799789, 6284.08621021,
       4720.77016879, 4661.69489093, 6264.2443477 , 7657.73579404,
       7670.89193092, 7667.55415478, 6108.90862496, 5999.78505686,
       7017.69891792, 5036.39651522, 7225.06354038, 6057.73692086,
       6064.13182756, 6039.04296195, 5999.34998034, 6880.14624305,
       5405.82469114, 5221.022597  , 4720.5993658 , 6399.2297034 ,
       7671.17277278, 7684.33655028, 7684.34376922, 6434.43749669,
       7316.56262629, 5048.28115057, 6353.45981141, 4992.57533858,
       5113.68011694, 6204.34545384, 5178.57720827, 8066.0318219 ,
       8600.84154905, 7561.91803047, 6148.6728005 , 7607.13646107,
       6581.91343642, 6798.24722517, 7364.24799955, 8016.98272518,
       6527.0742162 , 4571.62859909, 7633.27161854, 6501.17134646,
       5074.44742234, 4427.65275959, 4421.3879549 , 6798.60899242,
       7818.26989949, 6537.0209933 , 7710.7117887 , 6537.02115959,
       6404.0490875 , 6542.07821865, 6501.10464889, 4386.35236927,
       7965.92147508, 5406.1473182 , 6190.24221316, 6111.81818146,
       4872.64551925, 7399.87747697, 6111.81846208, 5402.92923581,
       6082.28779859, 5373.13349831, 4869.42739528, 6141.36317742,
       6029.96986147, 4803.95341037, 7318.57165292, 6111.87774889,
       6016.81399037, 6097.30374468, 6067.76611168, 5407.43488113,
       6885.69366683, 6139.41811169, 6318.59161966, 4836.54646553,
       4958.40602361, 7242.95412083, 4790.46646464, 6358.68502683,
       6230.46915347, 7457.74383676, 7102.81707438, 7118.77482179,
       7268.90096624, 5998.47804802, 5165.56574118, 7024.14495073,
       5537.10383126, 7105.1745627 , 6099.83551845, 7285.07336745,
       6573.78722982, 5900.93496079, 5632.2354234 , 6183.51376839,
       6298.54563828, 5599.4529615 , 6206.67194851, 6118.715674  ,
       6141.13274484, 6248.96722958, 6098.82438265, 6206.93350651,
       6196.8867604 , 6134.8965243 , 6184.04117153, 6190.62633494])

In [56]:
test_preds = [math.ceil(test_pred) for test_pred in test_pred]

In [57]:
test_preds

[5329,
 5964,
 6865,
 6701,
 6471,
 4859,
 6533,
 6596,
 6602,
 5319,
 6174,
 5079,
 5955,
 6328,
 4619,
 6908,
 5146,
 7063,
 6818,
 6593,
 6635,
 7403,
 7473,
 6229,
 6250,
 7150,
 7409,
 6324,
 5960,
 6705,
 7200,
 6713,
 6646,
 5111,
 6356,
 6684,
 7175,
 6564,
 5306,
 5281,
 5004,
 6384,
 5104,
 6268,
 3877,
 5194,
 4813,
 4978,
 5001,
 4973,
 7019,
 6224,
 4931,
 5510,
 3652,
 5166,
 6386,
 5006,
 4223,
 5187,
 5154,
 6324,
 5032,
 5464,
 5176,
 5191,
 5539,
 6153,
 6703,
 5112,
 4159,
 6070,
 3673,
 2288,
 2471,
 2444,
 3651,
 5877,
 5763,
 4768,
 6162,
 6070,
 6325,
 6283,
 4178,
 3711,
 6393,
 5846,
 4580,
 4045,
 1767,
 3697,
 2711,
 6018,
 5831,
 4471,
 4493,
 4754,
 4490,
 4979,
 4551,
 6014,
 4557,
 5639,
 5981,
 6705,
 5203,
 5726,
 5674,
 5746,
 6085,
 5835,
 4740,
 5731,
 5931,
 4498,
 5659,
 6003,
 4616,
 4644,
 5650,
 4636,
 5101,
 4340,
 6006,
 5632,
 4642,
 6770,
 6541,
 4561,
 5185,
 4921,
 4404,
 5313,
 5823,
 5631,
 5870,
 5887,
 4880,
 5499,
 5285,
 6327,
 7378,
 3515,
 5739,
 2265,
 5842,
 4463,
 6812,
 4742,
 6077,
 5932,
 4582,
 4062,
 3450,
 4687,
 4558,
 4839,
 2300,
 3425,
 5867,
 3452,
 2187,
 5545,
 5920,
 5887,
 4914,
 5602,
 4580,
 4925,
 4582,
 6026,
 6321,
 3608,
 5861,
 6053,
 5657,
 5796,
 4914,
 4925,
 4781,
 5782,
 5613,
 4376,
 4684,
 4569,
 6097,
 6006,
 4523,
 4380,
 3940,
 4880,
 4455,
 3905,
 3635,
 5703,
 5982,
 5753,
 5755,
 6095,
 5912,
 4549,
 6187,
 5830,
 6121,
 5715,
 4426,
 4709,
 6056,
 4571,
 4393,
 5816,
 4648,
 5665,
 5986,
 5806,
 6222,
 6049,
 6215,
 4699,
 5905,
 4800,
 5930,
 3968,
 4801,
 4991,
 6048,
 6111,
 5520,
 4931,
 3243,
 6193,
 6556,
 4557,
 4495,
 4382,
 2165,
 5627,
 6059,
 6579,
 5877,
 6289,
 5963,
 4468,
 5705,
 4518,
 3600,
 6222,
 4392,
 4058,
 4530,
 4748,
 5944,
 6047,
 6028,
 5823,
 6167,
 4454,
 4548,
 4089,
 5310,
 5383,
 6028,
 5502,
 6025,
 4369,
 4112,
 4235,
 6178,
 3262,
 3438,
 2224,
 1915,
 1951,
 3083,
 2538,
 1964,
 2231,
 3135,
 3135,
 1929,
 1928,
 1958,
 3099,
 1941,
 3115,
 3295,
 3071,
 1473,
 4252,
 4651,
 3110,
 3228,
 4252,
 3165,
 4978,
 2980,
 3106,
 3055,
 5575,
 5465,
 3935,
 5221,
 4967,
 5071,
 5497,
 3816,
 3873,
 5716,
 4338,
 4146,
 4057,
 3612,
 5665,
 4121,
 5410,
 4216,
 4258,
 4297,
 5529,
 5487,
 5555,
 5107,
 4566,
 5742,
 3998,
 5694,
 5405,
 5399,
 4346,
 3370,
 4113,
 4030,
 5616,
 5660,
 4699,
 2068,
 3125,
 2008,
 3479,
 4754,
 3825,
 1905,
 2129,
 1981,
 3349,
 3275,
 4831,
 3243,
 3424,
 3259,
 1950,
 3396,
 2119,
 5879,
 6799,
 5731,
 5768,
 6566,
 5784,
 5777,
 6269,
 8023,
 7945,
 7051,
 6981,
 7113,
 7010,
 6230,
 8225,
 5073,
 8234,
 5253,
 6447,
 5902,
 8310,
 9087,
 7295,
 6901,
 7166,
 6587,
 7275,
 4926,
 6284,
 8685,
 6897,
 4955,
 7894,
 6861,
 9179,
 7767,
 6124,
 5629,
 5445,
 6793,
 5380,
 5566,
 5288,
 5295,
 6985,
 7111,
 7010,
 7115,
 5389,
 6679,
 6538,
 4966,
 6495,
 7651,
 5416,
 5405,
 5400,
 4773,
 6235,
 5518,
 5095,
 5433,
 6672,
 5436,
 5874,
 7733,
 4682,
 6659,
 4728,
 7711,
 6705,
 6020,
 6285,
 4721,
 4662,
 6265,
 7658,
 7671,
 7668,
 6109,
 6000,
 7018,
 5037,
 7226,
 6058,
 6065,
 6040,
 6000,
 6881,
 5406,
 5222,
 4721,
 6400,
 7672,
 7685,
 7685,
 6435,
 7317,
 5049,
 6354,
 4993,
 5114,
 6205,
 5179,
 8067,
 8601,
 7562,
 6149,
 7608,
 6582,
 6799,
 7365,
 8017,
 6528,
 4572,
 7634,
 6502,
 5075,
 4428,
 4422,
 6799,
 7819,
 6538,
 7711,
 6538,
 6405,
 6543,
 6502,
 4387,
 7966,
 5407,
 6191,
 6112,
 4873,
 7400,
 6112,
 5403,
 6083,
 5374,
 4870,
 6142,
 6030,
 4804,
 7319,
 6112,
 6017,
 6098,
 6068,
 5408,
 6886,
 6140,
 6319,
 4837,
 4959,
 7243,
 4791,
 6359,
 6231,
 7458,
 7103,
 7119,
 7269,
 5999,
 5166,
 7025,
 5538,
 7106,
 6100,
 7286,
 6574,
 5901,
 5633,
 6184,
 6299,
 5600,
 6207,
 6119,
 6142,
 6249,
 6099,
 6207,
 6197,
 6135,
 6185,
 6191]

In [58]:
submission = test_data['id']

In [59]:
submission

0      1111210036
1      1111210040
2      1111220059
3      1111220069
4      1111220072
          ...
535    2598385003
536    2598395022
537    2598430260
538    2598430301
539    2598435083
Name: id, Length: 540, dtype: int64

In [60]:
test_preds_frame = pd.Series(test_preds, name='power')

# 기존 DataFrame에 새로운 열 추가
submission = pd.concat([submission, test_preds_frame], axis=1)

In [61]:
submission

             id  power
0    1111210036   5329
1    1111210040   5964
2    1111220059   6865
3    1111220069   6701
4    1111220072   6471
..          ...    ...
535  2598385003   6207
536  2598395022   6197
537  2598430260   6135
538  2598430301   6185
539  2598435083   6191

[540 rows x 2 columns]

In [62]:
submission.to_csv('submission_test.csv', index=False)