In [ ]:
# 신경망이란
"""
인간의 뉴런작용과정에서 아이디어를 착안, 시냅스를 통해 다른 뉴런으로부터 전달받고
전달하는 역할
신경망이란 자극이 전달되는 과정을 표현한것
레이어와 퍼셉트론으로 뉴런을 표현
인간신경망의 뉴런 =퍼셉트론, ..뉴런과 뉴런사이를 이으며 자극전달하는
시냅스는 여러개의 레이어를 잇는 가중치...
                                        activation fuction:시그노이드,엘루,스텝,리니어등
                                        활성화함수(연산결과를 다음뉴런으로 전달여부 판단)
                                        전달시 어떤값으로 전달할지를 판단
inputs    ---------->     hiddn layer     ---------활성화함수------------>    output
입력신호    웨이트        뉴런(사각모양)
            (가중치)        퍼셉트론                                         1 if 조건>0
X1~Xn까지    W1~Wn          가중평균                                         -1 otherwise
                            시그마wi*Xi
두개의 입력변수 x1,x2가 존재할 경우, w1.x1+w2.x2+w0 =y  , 다중선형회귀와 유사
한개의 변수가 있을경우,  wx+b= y
가령, w1.x1+w2.x2+b =0 인 직선의 방정식으로 분류시..
직선을 기준으로 왼쪽은 동그라미 오른쪽은 세모일 경우
임의의 점이 직선 왼쪽에 입력시,직선의 방정식에서 w1과 w2가 정해진 상황에서,
x1,x2가 입력된 임의의 점은,,동그라미와 세모중 무엇인가?
0보다 크면 동그라미, 작으면 삼각형
위 직선과 같은 모델을 만드는 것 ==> 로지스틱 리그레션,svm, 의사결정트리등이
바로 이러한 선을 찾아내는 모델을 의미함...분류가 과도할 경우 오버피팅의 문제발생
신경망은...w1.x1+w2.x2+b 을 activation fuction에 대입후,  output 도출
                            Ex) 시그모이드
## 유용한 사이트 --> 강좌 적극추천 http://cs231n.stanford.edu/
   향후 혼자공부할때 수업을 꼭 들어보기를 추천/ 이미지분류에 특화된 강좌
* 소프트맥스의 경우, 다중분류기에 추출한 값이 softmax로 들어감--> 확률로 바뀜
  각각의 분류기로부터 추출한 값을 확률로 변환해주는 함수,,,소프트맥스...
  이 구조에서, hidden layer가 추가 된 경우를 "신경망"이라고 함
 가령, x, y를 학습시켜 모델을 만들려고 함(지도학습) ==> linear regression, logistic regression
 , svm, random forest, decision tree, knn등 다양한 알고리즘 있음.
 x라는 변수하나일 경우, 혹은 여러개일 경우로 학습하는 경우==> 비지도학습==> kmean, pca, auto-clustering등
 신경망은 "지도학습"에 해당됨!!!
             얇은 신경망                vs             깊은 신경망
input layer--> hidden layer  output         input layer--> hidden layer  output
                                                          hidden layer
만약 x1,x2 2개의 독립변수로 구성된 데이터셋이 있다면,,or연산에 해당
이 데이터를 바탕으로 학습을 하고, 모델을 구축하려고 함. 여기서는 결국 y값을 예측값으로
만들려는 방식, 0또는 1로 분류하려고 함..좌표평면상 x1, x2평면상 표시하면..
x1,x2에 어떤값이 나오도라도 0또는 1로 분류하려면..데이터를 잘 분리하는 직선을 찾아야함
직선을 기준으로 1과 0으로 구분....이 직선의 방정식은  Y=w1.x1+w2.x2+b, 이런형식
따라서, 분류기 기준값보다 크냐 작느냐에 따라 0과 1로 분류하게 됨..
만약 이런분류기가 여러개 있는 경우를 "다중분류"라고 함, 만약 변수가x1,x2가 있는데,
y값이 A,C,C,B와 같은 형식으로 되어 있다면, 이데이터를 가지고 모델을 만들려고할때,
Y종류가 3가지(A, B, C중의 하나)일 경우, 직선하나로는 A,B,C를 분류하는데 한계존재
그래서, A인지 아닌지 분류하는 직선, B인지 아닌지, C인지 아닌지를 분류하는 직선등 3개의 직선이
필요... 가령 어떤점이 B인지 아닌지,A인지 아닌지 분류선에 포함될 경우, 거리를 구해
어느선에 더 가까운지를 기준으로 확률적으로 평가해 결과값을 도출....
이렇게 분류기를 만드는데, 신경망에서는 중간에 hidden layer가 들어가고, 특징을 찾는 다양한
함수들이 들어감
요컨데 기본적 분류모델의 작동방식
                                            시그모이드(이진)
입력데이터 --> 분류기(이진 또는 다중분류)--> 소프트맥스(다중) --> 0~1의 확률값으로 나타냄
               Y=w1.x1+w2.x2+b
신경망의 경우...
입력데이터 --> 분류기(이진 또는 다중분류)--> 히든레이어  ---함수적용--->   시그모이드(이진
x1,x2,x3       w1,w2,w3                     노드/뉴런                      소프트맥스(다중) --> 0~1의 확률값으로 나타냄
                                  각각의 히든레이어의 모든 노드에 연결
                                  입력차원3, 노드4차원 ==> 총13개 노드(b포함)
중간에 히든레이어가 포함되어 있음. 나머지 부분/방식은 거의 동일함...
신경망 공부하는 목적: 회귀와 분류작업을 하기위함
경사하강법으로 신경망이 학습이된다
딥러닝이라고 하는 것은 히든레이어를 2개 이상으로 두는 것
히든레이어의 역할
가중치: 입력값의 중요한 정도를 나타내는 것
히든레이어는 추상화된 특징이라고 말할 수 있다.

ex)
2차원구조 사람얼굴 이미지들어오면 flatten플래트닝해서 1차원구조로 펼쳐준다 

히든레이어를 어떤경우에 두어야 하는가?

"""

In [ ]:
"""
케라스(딥러닝 프레임웍)을 이용한 점수 예측
입력특징: 공부시간, 출석일수, 과제제출횟수
출력 : 시험점수

?? 프레임웍(framework): 구조화된 틀,
   수행하고자 하는 작업을 조금더 쉽고 빠르고 적은비용으로 할수있게해주는 라이브러리의 집합체
   텐서플로우, 케라스, 파이토치, 까페
"""

In [1]:
from tensorflow import keras
from tensorflow.keras import layers

In [3]:
model=keras.Sequential([layers.Dense(units=1, input_shape=[3])]) 
# input_shape=[3]입력데이터의 차원이3차원이다
# units 출력차원

In [4]:
model=keras.Sequential([
layers.Dense(units=4, input_shape=[2], activation='relu'),
layers.Dense(units=3, activation='relu'),
layers.Dense(units=1, activation='sigmoid'),
    
])

In [5]:
model.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_2 (Dense)             (None, 4)                 12

 dense_3 (Dense)             (None, 3)                 15

 dense_4 (Dense)             (None, 1)                 4

=================================================================
Total params: 31 (124.00 Byte)
Trainable params: 31 (124.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [ ]:
model.compile(optimizer='adam', loss = 'mae')

In [6]:
import pandas as pd

In [34]:
red_wine=pd.read_csv("red-wine.csv")

In [35]:
red_wine

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [36]:
red_wine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [37]:
df_train=red_wine.sample(frac=0.7, random_state=20231031)#.sample표본추출할때 사용하는함수

In [38]:
len(df_train)

1119

In [39]:
df_train.index

Int64Index([1385, 1504, 1269, 1457,  671,  404, 1327, 1226,  803, 1563,
            ...
            1301,  120,  199,   40, 1052, 1043, 1130,  363,  386, 1008],
           dtype='int64', length=1119)

In [40]:
df_test=red_wine.drop(df_train.index)

In [41]:
len(df_test)

480

In [42]:
df_train[:2]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1385,8.0,0.81,0.25,3.4,0.076,34.0,85.0,0.99668,3.19,0.42,9.2,5
1504,7.5,0.38,0.57,2.3,0.106,5.0,12.0,0.99605,3.36,0.55,11.4,6

In [43]:
max_=df_train.max()
min_=df_train.min()

In [44]:
max_-min_

df_train-min_  #열단위로 각각의 데이터에서 최소값을 뺀값

df_train=(df_train-min_) / (max_-min_)  #정규화 공식
df_test=(df_test-min_) / (max_-min_)

In [45]:
df_train

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1385,0.309091,0.570248,0.25,0.171233,0.106845,0.464789,0.279152,0.485316,0.354331,0.053892,0.142857,0.4
1504,0.263636,0.214876,0.57,0.095890,0.156928,0.056338,0.021201,0.439060,0.488189,0.131737,0.535714,0.6
1269,0.081818,0.305785,0.03,0.061644,0.053422,0.380282,0.286219,0.053598,0.598425,0.293413,1.000000,1.0
1457,0.272727,0.305785,0.33,0.068493,0.103506,0.366197,0.279152,0.513216,0.527559,0.149701,0.107143,0.4
671,0.327273,0.504132,0.21,0.054795,0.103506,0.056338,0.024735,0.494126,0.362205,0.113772,0.196429,0.4
...,...,...,...,...,...,...,...,...,...,...,...,...
1043,0.445455,0.223140,0.41,0.547945,0.095159,0.239437,0.116608,0.625551,0.433071,0.287425,0.446429,0.8
1130,0.409091,0.396694,0.00,0.068493,0.076795,0.056338,0.014134,0.560206,0.346457,0.179641,0.357143,0.6
363,0.718182,0.280992,0.63,0.075342,0.098497,0.070423,0.031802,0.640969,0.196850,0.323353,0.321429,0.4
386,0.290909,0.347107,0.26,0.075342,0.126878,0.309859,0.148410,0.589574,0.527559,0.245509,0.142857,0.6
1008,0.390909,0.190083,0.40,0.184932,0.163606,0.154930,0.063604,0.397944,0.385827,0.221557,0.642857,0.8

In [46]:
df_test

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1,0.290909,0.628099,0.00,0.116438,0.143573,0.338028,0.215548,0.494126,0.362205,0.209581,0.250000,0.4
9,0.263636,0.314050,0.36,0.356164,0.098497,0.225352,0.339223,0.567548,0.480315,0.281437,0.375000,0.4
10,0.190909,0.380165,0.08,0.061644,0.141903,0.197183,0.208481,0.428047,0.425197,0.125749,0.142857,0.4
16,0.354545,0.132231,0.56,0.061644,0.133556,0.478873,0.342756,0.501468,0.440945,0.251497,0.375000,0.8
17,0.318182,0.363636,0.28,0.054795,0.594324,0.211268,0.176678,0.494126,0.291339,0.568862,0.160714,0.4
...,...,...,...,...,...,...,...,...,...,...,...,...
1581,0.145455,0.363636,0.09,0.054795,0.068447,0.323944,0.091873,0.290015,0.629921,0.161677,0.517857,0.4
1582,0.136364,0.491736,0.10,0.116438,0.068447,0.169014,0.074205,0.260646,0.653543,0.101796,0.625000,0.4
1587,0.109091,0.404959,0.11,0.061644,0.090150,0.239437,0.077739,0.349486,0.637795,0.197605,0.446429,0.6
1588,0.236364,0.446281,0.33,0.109589,0.093489,0.464789,0.339223,0.298825,0.417323,0.269461,0.785714,0.6
1591,0.072727,0.512397,0.09,0.054795,0.128548,0.211268,0.070671,0.290015,0.732283,0.137725,0.571429,0.6

In [48]:
red_wine['quality']

0       5
1       5
2       5
3       6
4       5
       ..
1594    5
1595    6
1596    6
1597    5
1598    6
Name: quality, Length: 1599, dtype: int64

In [47]:
df_train=df_train.drop('quality', axis=1)
df_test=df_test.drop('quality', axis=1)

In [53]:
y_train = red_wine['quality'][df_train.index]
y_test = red_wine['quality'][df_test.index]

#y_test = red_wine['quality'].drop(df_train.index)

In [68]:
from sklearn.preprocessing import OneHotEncoder

In [69]:
ohe=OneHotEncoder()

In [74]:
pd.get_dummies(red_wine['quality'])

      3  4  5  6  7  8
0     0  0  1  0  0  0
1     0  0  1  0  0  0
2     0  0  1  0  0  0
3     0  0  0  1  0  0
4     0  0  1  0  0  0
...  .. .. .. .. .. ..
1594  0  0  1  0  0  0
1595  0  0  0  1  0  0
1596  0  0  0  1  0  0
1597  0  0  1  0  0  0
1598  0  0  0  1  0  0

[1599 rows x 6 columns]

In [71]:
y_test_ohe=ohe.fit_transform([y_test])

In [72]:
y_test_ohe

<1x480 sparse matrix of type '<class 'numpy.float64'>'
	with 480 stored elements in Compressed Sparse Row format>

In [55]:
y_train
y_test

1       5
9       5
10      5
16      7
17      5
       ..
1581    5
1582    5
1587    6
1588    6
1591    6
Name: quality, Length: 480, dtype: int64

In [ ]:
# 품질: 0~10까지 부여
# 범주형: 원핫인코딩

In [63]:
model=keras.Sequential([
    layers.Dense(512, activation='relu', input_shape=[11]),
    layers.Dense(512, activation='relu'),
    layers.Dense(512, activation='relu'),
    layers.Dense(11, activation='softmax')
#     layers.Dense(1)
])

In [64]:
model.compile(
    optimizer='adam',
    loss='mae',
)

In [65]:
1119/32

34.96875

In [66]:
model.fit( #batch_size=32 default =32 -> 35/35가 35까지 batch-size를 다 수행했다 의미
df_train, y_train, epochs=10
)

Epoch 1/10
35/35 [==============================] - 1s 6ms/step - loss: 5.5257
Epoch 2/10
35/35 [==============================] - 0s 6ms/step - loss: 5.5257
Epoch 3/10
35/35 [==============================] - 0s 6ms/step - loss: 5.5257
Epoch 4/10
35/35 [==============================] - 0s 5ms/step - loss: 5.5257
Epoch 5/10
35/35 [==============================] - 0s 5ms/step - loss: 5.5257
Epoch 6/10
35/35 [==============================] - 0s 6ms/step - loss: 5.5257
Epoch 7/10
35/35 [==============================] - 0s 6ms/step - loss: 5.5257
Epoch 8/10
35/35 [==============================] - 0s 6ms/step - loss: 5.5257
Epoch 9/10
35/35 [==============================] - 0s 6ms/step - loss: 5.5257
Epoch 10/10
35/35 [==============================] - 0s 6ms/step - loss: 5.5257

In [67]:
model.predict(df_test)

15/15 [==============================] - 0s 1ms/step

array([[0.08669392, 0.09106818, 0.09055239, ..., 0.09455846, 0.09069961,
        0.08786809],
       [0.08721986, 0.09297925, 0.08852784, ..., 0.09595898, 0.09352507,
        0.08557104],
       [0.08798452, 0.09161892, 0.09058499, ..., 0.09416959, 0.09110904,
        0.08819762],
       ...,
       [0.08922083, 0.09087539, 0.08843571, ..., 0.09516373, 0.09237917,
        0.08648629],
       [0.08828883, 0.09174716, 0.08849195, ..., 0.09495553, 0.09235314,
        0.08612169],
       [0.08935161, 0.09080681, 0.08794243, ..., 0.09494364, 0.09356372,
        0.08652735]], dtype=float32)

In [62]:
y_test

1       5
9       5
10      5
16      7
17      5
       ..
1581    5
1582    5
1587    6
1588    6
1591    6
Name: quality, Length: 480, dtype: int64

In [75]:
df=pd.read_csv("diabetes.csv")
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [78]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [76]:
x=df.iloc[:,0:8]
y=df.iloc[:,8]

In [79]:
model=Sequential()

In [80]:
model.add(Dense(12, input_dim=8, activation='relu'))
model.add(Dense(8, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

In [81]:
model.summary()

Model: "sequential_5"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_13 (Dense)            (None, 12)                108

 dense_14 (Dense)            (None, 8)                 104

 dense_15 (Dense)            (None, 1)                 9

=================================================================
Total params: 221 (884.00 Byte)
Trainable params: 221 (884.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [82]:
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [83]:
model.fit(x, y, epochs=10, batch_size=5)

Epoch 1/10
154/154 [==============================] - 1s 1ms/step - loss: 12.9092 - accuracy: 0.3802
Epoch 2/10
154/154 [==============================] - 0s 1ms/step - loss: 0.7677 - accuracy: 0.6055
Epoch 3/10
154/154 [==============================] - 0s 1ms/step - loss: 0.6978 - accuracy: 0.6341
Epoch 4/10
154/154 [==============================] - 0s 1ms/step - loss: 0.6815 - accuracy: 0.6406
Epoch 5/10
154/154 [==============================] - 0s 1ms/step - loss: 0.6726 - accuracy: 0.6445
Epoch 6/10
154/154 [==============================] - 0s 1ms/step - loss: 0.6658 - accuracy: 0.6458
Epoch 7/10
154/154 [==============================] - 0s 1ms/step - loss: 0.6612 - accuracy: 0.6471
Epoch 8/10
154/154 [==============================] - 0s 1ms/step - loss: 0.6578 - accuracy: 0.6484
Epoch 9/10
154/154 [==============================] - 0s 1ms/step - loss: 0.6554 - accuracy: 0.6484
Epoch 10/10
154/154 [==============================] - 0s 1ms/step - loss: 0.6537 - accuracy: 0.6484

In [84]:
df = pd.read_csv("iris3.csv")

In [85]:
df #종속변수가 다중분류일경우 softmax
#문자로 되어있는경우에 원핫인코딩
# 소프트맥스는 세 개 이상으로 분류하는 다중 클래스 분류에서 사용되는 활성화 함수다. 
# 소프트맥스 함수는 분류될 클래스가 n개라 할 때, n차원의 벡터를 입력받아, 
# 각 클래스에 속할 확률을 추정한다.

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [86]:
X = df.iloc[:,0:4]
y = df.iloc[:,4]

In [87]:
y = pd.get_dummies(y) #범주형인 경우, 순서가없는 데이터타입인경우, 원핫 인코딩

In [88]:
y

     Iris-setosa  Iris-versicolor  Iris-virginica
0              1                0               0
1              1                0               0
2              1                0               0
3              1                0               0
4              1                0               0
..           ...              ...             ...
145            0                0               1
146            0                0               1
147            0                0               1
148            0                0               1
149            0                0               1

[150 rows x 3 columns]

In [102]:
X

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [89]:
model = Sequential()

In [92]:
model.add(Dense(16,  input_dim=4, activation='relu'))
model.add(Dense(8,  activation='relu'))
model.add(Dense(3,  activation='softmax'))

In [93]:
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

In [94]:
model.fit(X,y, epochs=40, batch_size=5)

Epoch 1/40
30/30 [==============================] - 0s 1ms/step - loss: 1.2028 - accuracy: 0.2267
Epoch 2/40
30/30 [==============================] - 0s 1ms/step - loss: 1.1383 - accuracy: 0.2933
Epoch 3/40
30/30 [==============================] - 0s 1ms/step - loss: 1.1016 - accuracy: 0.3067
Epoch 4/40
30/30 [==============================] - 0s 1ms/step - loss: 1.0749 - accuracy: 0.3267
Epoch 5/40
30/30 [==============================] - 0s 1ms/step - loss: 1.0397 - accuracy: 0.2800
Epoch 6/40
30/30 [==============================] - 0s 1ms/step - loss: 0.9875 - accuracy: 0.3533
Epoch 7/40
30/30 [==============================] - 0s 1ms/step - loss: 0.9349 - accuracy: 0.5467
Epoch 8/40
30/30 [==============================] - 0s 1ms/step - loss: 0.8800 - accuracy: 0.6400
Epoch 9/40
30/30 [==============================] - 0s 1ms/step - loss: 0.8229 - accuracy: 0.6600
Epoch 10/40
30/30 [==============================] - 0s 1ms/step - loss: 0.7720 - accuracy: 0.6667
Epoch 11/40
30/30 [==============================] - 0s 1ms/step - loss: 0.7156 - accuracy: 0.6667
Epoch 12/40
30/30 [==============================] - 0s 1ms/step - loss: 0.6692 - accuracy: 0.6933
Epoch 13/40
30/30 [==============================] - 0s 1ms/step - loss: 0.6288 - accuracy: 0.6800
Epoch 14/40
30/30 [==============================] - 0s 1ms/step - loss: 0.5923 - accuracy: 0.7733
Epoch 15/40
30/30 [==============================] - 0s 1ms/step - loss: 0.5590 - accuracy: 0.7400
Epoch 16/40
30/30 [==============================] - 0s 1ms/step - loss: 0.5270 - accuracy: 0.7800
Epoch 17/40
30/30 [==============================] - 0s 1ms/step - loss: 0.4987 - accuracy: 0.7933
Epoch 18/40
30/30 [==============================] - 0s 1ms/step - loss: 0.4780 - accuracy: 0.9133
Epoch 19/40
30/30 [==============================] - 0s 1ms/step - loss: 0.4558 - accuracy: 0.8133
Epoch 20/40
30/30 [==============================] - 0s 1ms/step - loss: 0.4350 - accuracy: 0.9400
Epoch 21/40
30/30 [==============================] - 0s 1ms/step - loss: 0.4201 - accuracy: 0.9000
Epoch 22/40
30/30 [==============================] - 0s 1ms/step - loss: 0.4053 - accuracy: 0.8867
Epoch 23/40
30/30 [==============================] - 0s 1ms/step - loss: 0.3854 - accuracy: 0.9733
Epoch 24/40
30/30 [==============================] - 0s 997us/step - loss: 0.3710 - accuracy: 0.9667
Epoch 25/40
30/30 [==============================] - 0s 1ms/step - loss: 0.3542 - accuracy: 0.9800
Epoch 26/40
30/30 [==============================] - 0s 1ms/step - loss: 0.3486 - accuracy: 0.9467
Epoch 27/40
30/30 [==============================] - 0s 1ms/step - loss: 0.3333 - accuracy: 0.9600
Epoch 28/40
30/30 [==============================] - 0s 1ms/step - loss: 0.3138 - accuracy: 0.9667
Epoch 29/40
30/30 [==============================] - 0s 1ms/step - loss: 0.3010 - accuracy: 0.9733
Epoch 30/40
30/30 [==============================] - 0s 1ms/step - loss: 0.2927 - accuracy: 0.9667
Epoch 31/40
30/30 [==============================] - 0s 1ms/step - loss: 0.2853 - accuracy: 0.9733
Epoch 32/40
30/30 [==============================] - 0s 1ms/step - loss: 0.2696 - accuracy: 0.9800
Epoch 33/40
30/30 [==============================] - 0s 1ms/step - loss: 0.2544 - accuracy: 0.9733
Epoch 34/40
30/30 [==============================] - 0s 1ms/step - loss: 0.2541 - accuracy: 0.9467
Epoch 35/40
30/30 [==============================] - 0s 1ms/step - loss: 0.2394 - accuracy: 0.9667
Epoch 36/40
30/30 [==============================] - 0s 1ms/step - loss: 0.2266 - accuracy: 0.9800
Epoch 37/40
30/30 [==============================] - 0s 1ms/step - loss: 0.2174 - accuracy: 0.9733
Epoch 38/40
30/30 [==============================] - 0s 997us/step - loss: 0.2078 - accuracy: 0.9867
Epoch 39/40
30/30 [==============================] - 0s 1ms/step - loss: 0.2004 - accuracy: 0.9733
Epoch 40/40
30/30 [==============================] - 0s 1ms/step - loss: 0.1973 - accuracy: 0.9667

In [99]:
df

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [97]:
import numpy as np

In [98]:
model.predict(np.array([[5.9, 3.0, 5.1, 1.8]]))

1/1 [==============================] - 0s 42ms/step

array([[3.0456201e-04, 3.3446220e-01, 6.6523325e-01]], dtype=float32)

In [100]:
np.argmax([3.0456201e-04, 3.3446220e-01, 6.6523325e-01])

2